<!--<div class="item glyphicon glyphicon-cog" title="设置"></div>-->
<!--<div class="item glyphicon glyphicon-star"></div>-->
<div class="item" ng-click="addSite()" title="新增环境">
    <div class="icon glyphicon glyphicon-plus"></div>
    <div class="txt">环境</div>
</div>
<div class="item" ng-click="checkout()" title="CheckOut代码到开发机">
    <div class="icon glyphicon glyphicon-cloud-download"></div>
    <div class="txt">CO</div>
</div>
<div class="item" ng-click="addModule()" title="模块管理">
    <div class="icon glyphicon glyphicon-inbox"></div>
    <div class="txt">模块</div>
</div>
<div class="item" ng-click="user()" title="用户名管理">
    <div class="icon glyphicon glyphicon-user"></div>
    <div class="txt">用户</div>
</div>