<div class="search-wrap">
    <input type="text" ng-model="search"/>
    <span class="icon ion-ios7-search"></span>
    <!--<span class="btn btn-a">提交</span>-->
</div>
<nav class="sites">
    <div class="item" ng-repeat="val in list | filter:search" ng-class="navClass(val)">
        <div class="text" ng-click="changeSite(val)">{{val}}</div>
        <div class="icons">
            <div class="icon delete ion-ios7-minus-outline" title="删除" ng-click="delete(val)"></div>
        </div>
    </div>
</nav>