
.song-opera #bdshare{
    position: absolute;
    top: -50px;
    right: 0;
    padding: 5px;
    border: 1px solid #EDEDED;
    border-radius: 4px;
    background: #fff;
    display: none;
}
.sns #bdshare span.bds_more,
.sns #bdshare .bds_tools a{ padding-bottom: 0;}
.sns .share-label{ line-height: 22px; margin-top: 3px;}

#bdshare .arrow-down{
    display: block;
    position: absolute;
    bottom: -10px;
    _font-size: 0;
    right: 22px;
    width: 10px;
    height: 10px;
    background: url(/static/images/btn/arrow-down.png) no-repeat;
    merge: btn;
}

.guide-to-mobile-wrapper,.mod-newsong-wrapper{
	color: #666;
	box-shadow: 0px 1px 1px 1px #F5F5F5; -moz-box-shadow: 0px 1px 1px 1px #F5F5F5; -webkit-box-shadow: 0px 1px 1px 1px #F5F5F5; 
}
.guide-to-mobile,.mod-newsong { padding: 8px 23px; border: 2px solid #a1cbe4; zoom: 1; }
.guide-to-mobile .bd-music-setup,
.guide-to-mobile .android-icon,
.guide-to-mobile .ios-icon,
.guide-to-mobile .ipad-icon{
	display: inline-block;   color: #666; 
	line-height: 24px;
}
.bd-music-setup {margin-left: 15px;
	padding-left: 35px;
background:url(/static/images/music/ttp_download.png) no-repeat;merge:blue;
}
.android-icon {padding-left: 26px; background: url(/static/images/music/android-icon.png) 2 2px; background-repeat: no-repeat; merge: bg;}
.ios-icon {padding-left: 26px;  background: url(/static/images/music/ios-icon.png) 2 2px; background-repeat: no-repeat; merge: bg;}

.vertical-line{
	width: 1px;
	height: 8px;
	overflow: hidden;	
	display: inline-block;
}
.guide-to-mobile-wrapper .vertical-line{
	margin: 10px 10px 0;
	background: #d8d8d8;
}

/*pc 下载提示框样式*/
.pc-tips {
    display: none;
    position: absolute;
    top: 55px;
    left: 110px;
    width: 344px;
    height: 223px;
}
.pc-tips img{
    width: 344px;
    height: 223px;
}
.pc-tips-download{
    position: absolute;
    top: 192px;
    left: 132px;
}
.pc-tips .arrow-up{
    position: absolute;
    top: -14px;
    left: 165px;
    display: block;
    width: 16px;
    height: 14px;
    background: url(/static/images/bg/blue-arrow-up.png);
    _background: none;
    _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='corp',src='/static/images/bg/blue-arrow-up.png');
    merge: rich;
}

/*客户端下载提示框样式*/
.ios-tips {
    display: none;
    width: 303px;
    height: 210px;
    left: 295px;
    top: 55px;
}
.pop-tips {
    z-index: 1000;
    position: absolute;
    text-align: center;
    background-color: #fff;
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.27);
    -moz-box-shadow: 0 1px 4px rgba(0,0,0,.27);
    box-shadow: 0 1px 4px rgba(0,0,0,.27);
    border: solid 1px #999;
    border-radius: 4px;
    background-color: #FFF;
}

.pop-tips .down-logo{
    width: 110px;
    height: 110px;
    margin: auto;
}

.pop-tips .arrow-up{
    z-index: 10;
    display: block;
    position: absolute;
    right: 80px;
    top: -12px;
    _top: -13px;
    height: 12px;
    width: 31px;
    background: url(/static/images/bg/arrow-up.png) no-repeat;
    merge: rich;
    _background: none;
    _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='corp',src='/static/images/bg/arrow-up.png');
}
.pop-tips .close{
    position: absolute;
    right: 14px;
    top: 12px;
    width: 11px;
    height: 11px;
    text-decoration: none;
    background: url(/static/images/btn/icon_del_small.png) no-repeat;
    merge: rich;
    _background: none;
    _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='corp',src='/static/images/btn/icon_del_small.png');
}

.pop-tips .tip-head{
    margin-top: 10px;
    line-height: 40px;
}
.pop-tips .tip-foot{
    line-height: 35px;
}