/*歌曲基本信息*/
.song { position:relative;zoom:1;margin-bottom:15px;}
.songpage-title{ width:550px; font-size: 22px; line-height:30px;font-weight: bold;font-family:Microsoft YaHei,\5b8b\4f53 ;}
.songpage-title .name{ margin-right: 10px; vertical-align: middle;}
.songpage-title .high-rate-icon{ display: inline-block; margin-right:10px; vertical-align:middle; cursor: pointer;}
.songpage-title .icon-new{display: inline-block; margin-left:0;  vertical-align: middle; overflow: hidden;}
.songpage-title .mv-icon{ vertical-align: middle;}
.songpage-version { margin-right: 10px; vertical-align: middle; color: #999; font-size: 12px; font-weight: normal;}
/*.songpage-title .name,
.songpage-title .song-collect,
.songpage-title .song-collect-cancel{ float: left;  }*/
/*.song .song-collect{ display: none; margin-left: 10px; width: 30px;height: 30px; overflow: hidden;text-indent: -999px; background: url(/static/images/music/song-page-collect.png) no-repeat; vertical-align: middle; merge:bg;}
.song .song-collect:hover{  background: url(/static/images/music/song-page-collect-hover.png) no-repeat;merge:bg;}
.song .song-collect:active{  background: url(/static/images/music/song-page-collect-active.png) no-repeat;merge:bg;}
.song .song-collect-cancel{display: none;margin-left: 10px; width: 30px;height: 30px; overflow: hidden;text-indent: -999px;}
.song .song-collect-cancel{  background-image: url(/static/images/music/song-page-collect-cancel.png);merge:red;}
.song .song-collect-cancel:hover{background-image: url(/static/images/music/song-page-collect-cancel-hover.png);merge:red;}
.song .song-collect-cancel:active{background-image: url(/static/images/music/song-page-collect-cancel-active.png);merge:red;}*/
.song-collect{ display: none;float: left;}


.song-play-num{ position:absolute; right:0; top:0;}
.song-play-num .num{ margin-right:10px; line-height:26px; font-size: 16px;font-weight: bold;}
/*.song-info{padding-top: 20px;}*/
.song-info{padding-bottom: 15px;}
.song-info .song-opera{position: relative;z-index: 10;}
.song-info .song-opera .play-btn,
.song-info .song-opera .add-song-btn,
.song-info .song-opera .cancel-keep,
.song-info .song-opera .song-collection,
.song-info .song-opera .song-collection,
.song-info .song-opera .down-song-btn,
.song-info .song-opera .down-song{ float:left; margin-right:5px;}
.song-info .tag-list,
.song-info .tag .module-line,
.song-info .tag .label{ float: left;}
.song-info .tag .module-line{height: 8px;margin: 8px 8px 0;width: 1px;}
.song-info .base-info li{line-height:25px;}
.song-info .base-info .link-src .label{ float: left;}
.song-info .base-info .link-src .link-src-info{ float: left;width: 470px; word-break: break-all; word-wrap:break-word;}
.song-info .module { margin-bottom: 0 }
.song-info .module .head { border: none; padding-bottom: 0; margin-bottom: 0; }
.song-info  .gray-icon{display: inline-block;margin-right:5px; height: 30px;width:21px;vertical-align: middle;background: url(/static/images/bg/gray_icon.png) no-repeat 0 5px; merge:bg; }
.song-info .link-src{margin-top:10px;color: #666;}
.mod-song-info .module-dotted{margin-top: 0;}

.info-holder {padding-top: 17px;position: relative;}

.song-page-share {position: absolute;right:0;}
.song-page-share .song-collect{margin: 0 ;display: inline;float: right;}
.song-page-share .song-share {margin:0 0 0 6px ; float: right;display: inline;}
.song-page-share .share-label, 
.song-page-share .bds_tools {	float: left;}
/*禁用收藏和分享的边框*/
.song-page-share .btn{background: transparent;}
.song-page-share .btn-b{background: transparent;}
.song-page-share .btn .inner{background: transparent;}
.song-page-share .sep{float: right; background: #e2e2e2;width: 1px; height: 14px;margin: 5px 0 0 5px;}


/*歌词*/
/*.sns .song-lyric .head{ border-bottom: none;}*/
.copy-lyric-hook,
.down-lrc-btn,
.song-lyric .head .module-line{ float: right;}
.song-lyric .head .module-line{height: 8px;margin: 8px 8px 0; *margin-top: 6px; width: 1px;}
.song-lyric .head .opera{ width:140px;}
.lyric-content {line-height: 20px;}
.lyric-hidden {height: 260px;	overflow: hidden;}
.lyric-switch {	display: block;	width: 40px;}
.lyric-switch .icon{ 
	display: inline-block;
    height: 8px;
    margin-left: 5px;
    overflow: hidden;
    vertical-align: middle;
    width: 7px;
	background: url(/static/images/bg/fold_open.png) no-repeat; merge:bg; }

.lyric-close .icon {  background: url(/static/images/bg/fold_close.png) no-repeat; merge:bg;}

/*推荐歌曲*/
.hot-song ul { overflow: hidden;zoom:1;}
.hot-song li{ width: 335px; float: left; line-height: 25px;}
.hot-song li .song-title{ font-weight: normal;}
.hot-song li.list1,
.hot-song li.list3,
.hot-song li.list5,
.hot-song li.list7,
.hot-song li.list9{padding-right: 20px; }

.hot-song li.list2,
.hot-song li.list4,
.hot-song li.list6,
.hot-song li.list8,
.hot-song li.list10{float: right; padding-left: 20px; }
.hot-song .hot-playall{ padding-top: 5px;}


.hot-song .song-list .index-num,
.hot-song .song-list .song-title,
.hot-song .song-list .hor-line,
.hot-song .song-list .singer{ float: left;}
.hot-song .song-list .index-num{ margin-right: 5px;}


.guide-to-mobile-wrapper { margin-top: 0px; margin-bottom: 20px;position: relative; z-index: 5;}


/*MV*/
.mv-cover{ position: relative; width: 170px; /*padding-top: 5px;*/ margin-top: 19px; }

.mod-topic{padding-top: 10px;}
.mod-topic li{padding-bottom: 4px;}
.mod-topic li i{ float: left; width: 2px; height: 2px; overflow: hidden; background: #999; margin:9px 10px 0 0;}
.mv-info .mv-icon { position: absolute; top: 15px; left: 6px; }


/* other versions */

.sns .music-main .other-versions {
	margin-bottom: 10px;
}

.sns .music-main .other-versions .head {
	margin-bottom: 13px;
}

.other-versions .related-list {
	margin-right: -30px;
	text-align: center;
}

.other-versions .related-list li {
	position: relative;
	float: left;
	margin: 0 30px 20px 0;
	width: 60px;
}

.other-versions .related-list .people-icon {
	width: 60px;
	height: 60px;
}

.other-versions .related-list .img-link {
	margin-bottom: 8px;
}

.other-versions .related-list h4 a {
	word-wrap: break-word;
}

.other-versions .related-list li .play{position: absolute;z-index:2; top:17px;left: 14px; width:32px;height:31px; cursor: pointer;
	background:url(/static/images/music/album-cover-play.png) no-repeat; merge:bg;
	_background: none;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='corp',src='/static/images/music/album-cover-play.png');}
.other-versions .related-list li .play:hover{bottom:7px;right:7px;width:34px;height:33px;
	background:url(/static/images/music/album-cover-play-hover.png) no-repeat;merge:blue;
	_background: none;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='corp',src='/static/images/music/album-cover-play-hover.png');  }
.other-versions .related-list li .play:active{bottom:7px;right:7px;width:34px;height:33px;
	background:url(/static/images/music/album-cover-play-active.png) no-repeat;merge:blue;
	_background: none;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='corp',src='/static/images/music/album-cover-play-hover.png'); }


.my-cloud-big-tip {
	position: fixed;
	display: none;
	padding: 30px 50px;
	width: 400px;
	height: 320px;
	border: 1px solid #ccc;
	text-align: center;
	background: #fff;
}

.my-cloud-big-tip img {
	width: 398px;
	height: 245px;
}

.my-cloud-big-tip .btn-tip-known {
	margin: 20px auto 15px auto;
}

.my-cloud-big-tip .btn-tip-close {
	position: absolute;
	right: 20px;
	top: 20px;
	width: 21px;
	height: 21px;
	background: url(/static/images/btn/icon_del_large.png) no-repeat;
	merge: btn;
}


/*专辑同专辑歌曲*/
.qunxin-song ul { overflow: hidden;zoom:1;}
.qunxin-song li{ width: 335px; height: 26px; overflow: hidden; float: left; line-height: 25px;}
.qunxin-song li .song-title{ font-weight: normal;}
.qunxin-song li.list1,
.qunxin-song li.list3,
.qunxin-song li.list5,
.qunxin-song li.list7,
.qunxin-song li.list9{padding-right: 20px; }

.qunxin-song li.list2,
.qunxin-song li.list4,
.qunxin-song li.list6,
.qunxin-song li.list8,
.qunxin-song li.list10{float: right; padding-left: 20px; }
.qunxin-song .qunxin-playall{ padding-top: 5px;}

/*
.qunxin-song .song-title,
.qunxin-song .singer {
	vertical-align: baseline;
}
*/

.qunxin-song .song-list .index-num,
.qunxin-song .song-list .song-title,
.qunxin-song .song-list .hor-line,
.qunxin-song .song-list .singer{ float: left;}
.qunxin-song .song-list .index-num{ margin-right: 5px;}

/* 我的翻唱模块 */
.song-title-extra {
	color: #999;
}

.mini-top{
	margin-bottom: 15px;
}
.mod-newtop{
	padding-bottom: 20px;
}
.btn-telapp{
	display: none;
	margin-left: 5px;
}
.btn .btn-icon-telapp{
	 left:-4px; width: 14px; height:16px; margin-top:-8px; background-image:url(/static/images/btn/btn-icon-telapp.png); merge:btn;
}
.btn-b:hover .btn-icon-telapp{
	 background-image:url(/static/images/btn/btn-icon-telapp-hover.png); merge:btn;
}
#copy-lyric{
	display: none;
	color: #2d64b3;
	cursor: pointer;
}
.music-clients li{
    cursor: pointer;
    margin: 13px 0;
    width: 129px;
    height: 33px;
    line-height: 33px;
}
.music-clients a {
    color: #666;
    display: block;
    width: 100%;
    height: 100%;
}
.music-clients a:focus{
    outline: none;
}
.music-clients .container{
    width: 129px;
}
.music-clients li .icon{
    display: block;
    float: left;
    margin: 4px 6px 0 12px;
    _display: inline; /*clear double margin bug in ie6*/
    padding: 0;
    width: 22px;
    height: 22px;
}
.gray-button {
    background: url(/static/images/btn/clients-button.png) no-repeat;
    merge: btn;
}
.music-clients .pc-icon{
    background: url(/static/images/btn/pc-icon.png) no-repeat;
    merge: blue;
}
.music-clients .android-icon {
    background: url(/static/images/btn/android-icon.png) no-repeat;
    merge: green;
}
.music-clients .ios-icon {
    background: url(/static/images/btn/ios-icon.png) no-repeat;
    merge: bg;
}

/*_JCH_site/sns/module/jch/jch_mod_download_clients.html.tpl_text/less */
#download-clients {
  width: 710px;
  height: 70px;
  border: 1px solid #E9E9E9;
  position: relative;
}
#info-wrapper {
  width: 200px;
  float: left;
}
#clients-wrapper {
  float: left;
  width: 510px;
}
#clients-info {
  margin: 11px 25px;
}
#clients-info .bd-music-logo {
  float: left;
  margin-right: 11px;
}
#clients-info .bd-music-text {
  margin-top: 4px;
  float: left;
}
#clients-info em {
  font-weight: bold;
}
#clients-container {
  height: 32px;
  margin: 19px 0 19px 0px;
  padding-left: 15px;
  border-left: 1px solid #E2E2E2;
  line-height: 32px;
}
#clients-container a {
  color: #666666;
}
#clients-container li {
  float: left;
  width: 115px;
}
#clients-container .icon {
  float: left;
  margin-right: 10px;
}
.css-icon-bd-music {
  width: 48px;
  height: 48px;
  background: url(/static/images/icon/bd-music.png) no-repeat;
  merge: blue;
}
.css-icon-pc {
  width: 44px;
  height: 30px;
  background: url(/static/images/icon/pc-icon.png) no-repeat;
}
.css-icon-android {
  width: 25px;
  margin-top: 1px;
  height: 28px;
  background: url(/static/images/icon/android-icon.png) no-repeat;
}
.css-icon-iphone {
  width: 25px;
  height: 30px;
  background: url(/static/images/icon/iphone-icon.png) no-repeat;
}
.css-icon-ipad {
  width: 25px;
  height: 31px;
  background: url(/static/images/icon/ipad-icon.png) no-repeat;
}
/*_JCH_*/

.add-song-btn {
    position: relative;
}
.addlayer {
    position: absolute;
    background: #fff;
    border: 1px solid #cacaca;
    border-radius: 3px;
    top: 26px;
    left: 0;
    *width: 94px;
}
.addlayer a {
    display: block;
    height: 32px;
    line-height: 32px;
    padding: 0 10px;
    color: #666;
    white-space: nowrap;
}
.addlayer a:hover {
    background: #f6f6f6;
    text-decoration: none;
}
.add2web {
    border-bottom: 1px solid #eee;
}