@import "/site/account/account.css"; 

.login-title-holder {
	margin-bottom: 10px;
	height: 28px;
	width: 240px;
	border-bottom: 1px solid #ccc;
}

.login-title-tip {
	padding-left: 8px;
}

.login-tip {
    margin: 0 0 10px 14px;
    color: #999;
}

/**表单样式**/
.pass_login_form legend {
	display: none;
}

.pass_login_form .pass-server-error {
	padding-left: 50px;
	color: #F00;
}

.pass_login_form .pass_login_p_verifycode input {
	margin-right: 5px;
	width: 40px;
}


.pass_login_form .pass_login_p_verifycode img {
	border: 0 !important;
	vertical-align: middle;
}


/**
 * 登录按钮
 **/

.pass_login_form .pass_login_p_btn a {
	margin-left: 8px;
	vertical-align: middle;
}

.pass_login_form .pass_login_p_des {
    display: none;
}

.register-entry {
	padding-left: 50px;
	padding-top: 5px;
	width: 190px;
	border-top: 1px solid #E5E5E5;
}

/* 大环境 */
.login-forms {
    position: relative;zoom:1; 
}

/* 标准行 */
.pass_login_p {
    /*clear: both;*/
}

.login-forms{ position:relative;zoom:1;}
.pass_login_p_username,
.pass_login_p_phoneNumber,
.pass_login_p_password {
	padding-bottom: 5px;
	zoom:1;
	overflow:hidden;
	
}

.pass_login_p_verifycode {
    float: left;
    /*padding-left: 50px;*/
    width: 103px; 
    height: 40px;
}

.pass_login_p_img_verifycode {
    clear: none;
    float: left;
    width: 156px;
}

.pass_login_p_img_verifycode img {
    float: left;
}

.pass_login_change_verifycode {
    margin-left: 8px;
    color: #2c76c0;
    cursor: pointer;
}

.pass_login_p_rem {
    clear: both;
	padding: 5px 0 5px 50px;
}

.pass_login_p_btn {
	margin: 5px 0 10px 0;
    line-height: 36px;
	padding-left:50px;
    /*zoom: 1;*/
}

/* 文字标签 */
.pass_login_label_username,
.pass_login_label_phoneNumber,
.pass_login_label_password,
.pass_login_label_verifycode {
    /*position:absolute;
    top: 0;
	left:0;
    overflow: hidden;
    width: 40px;
	line-height: 26px;
    text-align: left;
	font-weight: bold;*/
	float:left;
	 width:50px;

}

/* input */
.pass_login_form .pass_login_input_username,
.pass_login_form .pass_login_input_phoneNumber,
.pass_login_form .pass_login_input_password,
.pass_login_form .pass_login_input_verifycode {
    /*position: relative;
    display: inline-block;
    float: left;*/
	padding:3px 3px 0 2px;
	width: 150px;
	height: 18px;
	border:1px solid #CCC;
	background: url("/static/images/bg/login_input_bg.png") repeat-x;
	float:left;
}

.pass_login_input_rem {
    margin-right: 5px;
	width: 15px;
	height: 15px;
	border: 0;
	vertical-align: middle;
}

/* 提交按钮 */
.pass_login_form .pass_login_input_submit {
	width: 102px;
    height: 36px;
    padding: 0;
	vertical-align: middle;
	background-image: url("/static/images/bg/login_btn.png");
}


/* 错误提示 */
.pass_login_err { display: none; position:absolute; top:-25px; left:50px; width:150px;color: red; background:#fff; white-space:nowrap;}

.pass_login_generalerror {
    display: none;
}

.sum-login-error {
    margin: 0 0 7px 50px;
    height: 15px;
    line-height: 15px;
    color: red;
}


/* 浮层错误提示 */
.error-tip {
    position: absolute;
    top: -75px;
    left: 0px;
    width: 257px;
    height: 3px;
    background: url(/static/images/account/err_bg_t.png) no-repeat;
}

.error-tip-inner {
    margin-top: 3px;
    padding: 8px 15px 11px;
    width: 227px;
    background: url(/static/images/account/err_bg_b.png) left bottom no-repeat;
}

.error-tip-main {
    padding-left: 25px;
    line-height: 16px;
    color: #cc3333;
    font-weight: bold;
    background: url(/static/images/account/err_icon.png) no-repeat;
}

.error-tip-extra {
    margin-top: 10px;
}

.error-tip-close {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 9px;
    height: 9px;
    background: url(/static/images/account/err_close.png) no-repeat;
}

.error-tip-arrow {
    margin-top: -1px;
    margin-left: 116px;
    width: 9px;
    height: 6px;
    background: url(/static/images/account/err_bg_arrow.png) no-repeat;
}

/* tabs 显示 */
.login-tabs {
    height: 30px;
    margin-bottom: 8px;
}

.login-tab {
    float: left;
    width: 127px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    border: 1px solid #ccc;
    background-color: #f5f5f5;
    cursor: pointer;
}

.login-first-tab {
    width: 126px;
    border-right: 0;
}

.login-tabs .selected {
    border-bottom-color: #fff;
    background-color: #fff;
}

