.login-holder {
    width: 101%; 
    height: 570px; 
}

.login-form {
    float: right;
    margin: 65px 10px 0 0; width: 314px;
    background: url("/static/images/bg/login_form_bg.png") center top no-repeat; 
}

.login-form-inner {
    margin-top: 12px;
    padding: 0 12px 30px 13px;
    background: url("/static/images/bg/login_form_bg.png") center bottom no-repeat;
}

.login-form .account-t2 {
    font-size: 14px;
    color: #fff;
    font-weight: bold;
}

.login-form #login_form {
    margin: 0 10px 0 14px;
}

.login-show-holder { 
    position: relative;
}

.login-show {
    position: absolute;
    float: left;
    width: 640px;
    height: 360px;
}

.show-1 { background: url(/static/images/login_show_3.jpg) no-repeat; } 
.show-2 { background: url(/static/images/login_show_1.jpg) no-repeat; }
.show-3 { background: url(/static/images/login_show_2.jpg) no-repeat; }

.register-panel {
    margin: 18px 10px 0 14px;
    padding-top: 13px;
    border-top: 1px solid #E5E5E5;
}

.register-panel span {
    margin-left: 53px;
    color: #999;
}

.register-panel a {
    margin-left: 15px;
    font-weight: bold;
}

.login-form .login-title-holder {
    margin-bottom: 10px;
    padding-left: 15px; 
    width: 273px; 
    height: 37px; 
    line-height: 35px; 
    background: url(/static/images/bg/login_form_title_bg.png) no-repeat; 
}
