.top-detail .main-body .head .title { float: left; margin-right: 20px;  }
.desc{ margin-bottom: 20px;}
.song-list{ position: relative; margin:15px 0 50px 0;}

.song-list ul li { padding: 16px 0; }
.song-list .songlist-album-cover { position: relative; margin-right: 20px; line-height: 100%;}
.song-list li .fun-icon,
.song-list li.lead-top .fun-icon{ line-height: 20px;}



.artist-top{padding-left: 15px;}
.artist-top .artist-name{font-size: 14px;}
.artist-top li{height: auto; line-height: normal;}
/*.artist-top .cover-item{display: inline-block;}*/
.artist-top .index-num{width: 25px;}
.artist-top .status{width: 20px;}
.artist-top .artist-head{padding-bottom: 20px;margin-bottom: 30px;}
.artist-top .artist-head .cover-img{margin-bottom: 5px;}
.artist-top .song-item{float: left; /*margin: 0 21px;*/width: 148px;}
.artist-top .artist-head .index-num{font-size: 20px; font-weight: 500;}
.artist-top .artist-body .song-item{margin: 5px 0;}
.artist-top .line-space{margin: inherit 0; padding: inherit 0; height: 50px; clear: both;}

.page-select{ position: relative; z-index: 2;  }
.page-select .select-list{position: absolute; right: 0; top: 3px;}
.page-select .select-list .module-line{ float: left; width: 1px; height: 8px; margin: 5px 0 0;}
.page-select .select-list a,
.page-select .select-list .label{ float: left;}
.page-select .select-list a{ margin: 0 8px;}
.page-select .select-list .active{ color: #666; font-weight: 700; cursor: text;}
.page-select .select-list .active:hover{ text-decoration: none;}

/* 顶部批量操作按钮悬浮 */
.song-list-wrap { position: relative; }

.top-list-item .song-list .float-bar {
	width: 778px;
}

/*
.top-list-item .top-btn { position: static; }
.top-list-item .song-list .float-bar {
	position: fixed;
	_position: absolute;
	z-index: 9;
	width: 778px;
	padding: 7px 6px;
	border: 1px solid #e4e4e4;
	-webkit-box-shadow: 0 2px 1px 0 #f5f5f5;
	-moz-box-shadow: 0 2px 1px 0 #f5f5f5;
	box-shadow: 0 2px 1px 0 #f5f5f5;
	background: #fff;
}
.top-list-item .song-list .float-bar-placeholder {display: none; width: 100%; height: 31px;}
*/


.top-update-date {
	float: right;
	width: 30%;
	line-height: 24px;
	text-align: right;
}

.music-ui-tab-middle, .music-ui-tab-middle .ui-tab-active .list{
	height: 40px;
	line-height: 39px;
	font-size: 14px;
	margin-bottom: 0;
}
.music-ui-tab .ui-tab-active{
	color: #333333;
	font-weight: bold;
}
.music-ui-tab-middle li{
	position: relative;
}
.music-ui-tab-middle li .list {
	padding: 0 117px;
}
.music-ui-tab-middle .week-tab .list {
	padding-right: 116px;
}
.music-ui-tab-middle li .top-new-pub{
	position: absolute;
	display: block;
	top:-4px;
	left: 150px;
	width: 53px;
	height: 22px;
	background:url(/static/images/music/top-new-publish.png) no-repeat 0 0;merge:red;
}
.music-ui-tab-middle li{
	background-image: none;
	background-color: #f8f8f8;
}
#topnew .top-date{
	position: relative;
	height: 26px;
	padding: 15px 0 15px 225px;
	border-bottom: 1px solid #e4e4e4;
	margin-bottom: 10px;
	z-index: 10;
}
.top-date-ctr a,.top-date-ctr span{
	float: left;
	display: inline-block;
	height: 26px;
	line-height: 26px;
	margin-right: 8px;
}
.top-date-ctr .date-arrow{
	width:30px;
	height: 30px;
}
#topnew .pre-disabled , #topnew .pre-disabled:hover{
	background:url(/static/images/music/top-date-arrow-left-disbled.png) no-repeat 12px 10px;merge:bg;
}
.top-date-ctr .pre:hover{
	background:url(/static/images/music/top-date-arrow-left-hover.png) no-repeat 0 0;merge:bg;
}
.top-date-ctr .pre{
	background:url(/static/images/music/top-date-arrow-left.png) no-repeat 12px 10px;merge:bg;
	margin-right: 30px;
}
#topnew  .next-disabled,#topnew .next-disabled:hover{
	background:url(/static/images/music/top-date-arrow-next-disbled.png) no-repeat 13px 10px;merge:bg;
}
.top-date-ctr .next:hover{
	background:url(/static/images/music/top-date-arrow-right-hover.png) no-repeat 0 0;merge:bg;
}
.top-date-ctr .next{
	background:url(/static/images/music/top-date-arrow-next.png) no-repeat 13px 10px;merge:bg;
	margin-left: 17px;
	margin-right: 30px;
}


.top-date-ctr .cal-num{
	font-size: 24px;
	font-weight: bold;
	color: #333;
}
.top-date-ctr .ci{
	color: #cc3333;
}
.top-date-ctr .cal-txt  {
	height: 12px;
	line-height:12px;
	padding-top: 10px;
	font-size: 12px;
	font-weight: normal;
}
.top-date-ctr .cal-txt-end{
	margin-right: 20px;
}
.top-date-ctr .top-calendar{
	width: 20px;
	background:url(/static/images/music/top-date-cal.png) no-repeat 3px 6px;merge:bg;
}
.top-date-ctr .top-calendar:hover{
	background:url(/static/images/music/top-date-cal-active.png) no-repeat 3px 6px;merge:blue;
}
.top-date-ctr .top-date-year{
	width: 52px;
}  
.top-date-ctr .top-date-week,.top-date-ctr .top-date-month,.top-date-ctr .top-date-day{
	width: 26px;
}
.top-cal-layer{
	position: absolute;
	width: 220px;
	top: 48px;
	left:415px;
	border: 1px solid #cccccc;
	padding: 10px 10px 10px 10px;
	background-color: #FFF;
	z-index: 1000;
}
.top-cal-layer h2{
	padding-bottom: 10px;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
}
.top-cal-layer ul{
	padding-top: 10px;
}
.top-cal-layer ul li{
	float: left;
	height: 20px;
	width: 42px;
	padding-left: 5px;
	margin-right: 8px;
	margin-bottom: 7px;
	line-height: 20px;
	font-size: 12px;
	text-align: left;
}
.top-cal-layer ul li a{
	display: block;
	color: #666666;
}
.top-cal-layer ul .on{
	background-color: #299de7;
	color: #FFF;
}
.top-cal-layer ul .on a{
	color: #FFF;
}
#top-month-layer ul li{
	width: 31px;
	padding-right: 11px;
	text-align: right;
}


/*月榜、周榜歌曲列表样式*/
.song-list-top-1 {
	zoom:1;
}

.song-list-top-1 .song-item span.fun-icon{
	float: right;
	position:static;
	margin-top: 0;
	margin-right: 0;
}
.song-list-top-1 .song-item-left{
	float: left;
}
.song-list-top-1 .song-item-right{
	position: relative;
}
.song-list-top-1 .song-list .line-1{
	padding: 25px 0;
}
.song-list-top-1  .song-item-right{
	margin-left: 270px;
	padding-top: 10px;
}
.song-list-top-1  .line-1 .song-item-right{
	margin-left: 310px;
	padding-top: 20px;
}
.song-list-top-1 .song-item .song-title {
	width: 340px;
	height: 30px;
	line-height: 30px;
	white-space: nowrap;
}
.song-list-top-1 .song-item .song-title .song-link{
	font-size: 20px;
	color: #333;
	font-weight: bold;
}
.song-list-top-1 .song-item .singer{
	height: 25px;
	line-height: 25px;
} 
.song-list-top-1 .song-item .status{
	width: 65px;
	height: 17px;
}
.song-list-top-1 .status i{
	display: block;
	padding-left: 25px;
	width: 35px;
	height: 17px;
	color: #999999;
	font-size: 14px;
}
.song-list-top-1 .status .up{
	background:url(/static/images/music/top-list1-up.png) no-repeat 0px 0px;merge:red;
}
.song-list-top-1 .status .down{
	background:url(/static/images/music/top-list1-down.png) no-repeat 0px 0px;merge:blue;
}
.song-list-top-1 .status .fair{
	background:url(/static/images/music/top-list1-fair.png) no-repeat 0px 0px;merge:bg;
}
.song-list-top-1 .status .new{
	background:url(/static/images/music/top-list1-new.png) no-repeat 0px 0px;merge:red;
}
.song-list-top-1  .index-num{
	width: 60px;
	height: 52px;
	line-height: 52px;
}
.song-list-top-1 .line-1 .index-num{
	background: url(/static/images/music/newtop-publish-bg.png) no-repeat;merge:rich;_background: none;
    _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='corp',src='/static/images/music/newtop-publish-bg.png');
}
.song-list-top-1 .line-3 .index-num{
	font-size: 48px;
	color: #cc3333;
}
.song-list-top-1 .line-last .index-num{
	font-size: 36px;
	color: #ff9900;
}
.song-list-top-1 .song-item span.checkbox-item {
	width: 19px;
}
.song-list-top-1 .song-item .high-rate-icon {
	position: static;
	top: 0;
	margin-right: 0;
}
.music-ui-tab-body .ui-tab-content{
	display: none;
}
.music-ui-tab-body .ui-tab-content-active{
	display: block;
}
#topnew .loading-content{
	height: 300px;
}
#newWeekSongListWrapper .high-rate-icon,#newMonthSongListWrapper .high-rate-icon{
	margin-left: 5px;
	vertical-align: baseline;
	*vertical-align: middle;
}
/*日历控件样式*/
#ui-datepicker-div {
	background-color: #FFF;
	border: 1px solid #cccccc;
	padding:0;
}
#ui-datepicker-div  table {
	margin: 0;
}
#ui-datepicker-div  td,#ui-datepicker-div th{
	border: 1px solid #f1f1f1;
}
#ui-datepicker-div  td span, #ui-datepicker-div td a{
	text-align: center;
}
#ui-datepicker-div .ui-datepicker-title{
	font-size: 16px;
	color: #333;
}
#ui-datepicker-div  .ui-datepicker-prev:hover{
	left:30px;
	top:4px;
	background:url(/static/images/music/datepicker-prev-hover.png) no-repeat 6px 6px;merge:blue;
}
#ui-datepicker-div  .ui-datepicker-prev{
	left:30px;
	top:4px;
	background:url(/static/images/music/datepicker-prev.png) no-repeat 6px 6px;merge:bg;
}
#ui-datepicker-div  .ui-datepicker-next:hover{
	background:url(/static/images/music/datepicker-next-hover.png) no-repeat 6px 6px;merge:blue;
}
#ui-datepicker-div  .ui-datepicker-next{
	right:25px;
	top:4px;
	background:url(/static/images/music/datepicker-next.png) no-repeat 6px 6px;merge:bg;
}
#ui-datepicker-div .ui-state-active{
	background-color: #299de7;
	color: #FFF;
}
#ui-datepicker-div td a{color:#666; }
#ui-datepicker-div .ui-datepicker-unselectable{
	color: #999;
}
#topnew .head{
	margin-bottom: 17px;
}
#topnew .head .title{
	max-height: 12px;
}
.new-top-desc {
	margin-left: 78px;
	padding-top: 12px;
	height: 12px;
	line-height: 12px;
	font-size: 12px;
	color: #666;
}
.top-mv-hook{
	margin-left: 10px;
}
.popup-mask-topic{ position:absolute; top:0; left:0; width:100%; z-index:99; background:#000;opacity:0.8;filter:Alpha(Opacity=50);}
.popup-wrapper-topic{ position:absolute; z-index:100; left:50%; width:980px; background:#000; padding:5px; height:520px; margin-left:-495px;}
.popup-wrapper-topic .pop-close{position:absolute; top:-22px; left:100%; width:22px; height:22px; cursor:pointer;  
    background:url(/static/images/btn/topic_pop_close_btn.png) no-repeat;
    _background:none;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/static/images/btn/topic_pop_close_btn.png" ,sizingMethod="crop");merge:rich;}


