.btn-w200 .inner {
    width: 170px;
}

.payment .payment-wrapper {
    width: 980px;
    margin: 0 auto;
    position: relative;
}

.payment .payment-inner {
    width: 980px;
    margin: 40px auto 30px;
    position: relative;
    top: 0;
}

.payment input[type='radio']:checked::before {
    background-color: #c33;
}

.payment #otherMonths {
    _position: relative;
}

.payment #otherMonths.active {
    border-color: #c33; 
}

/*sidebar*/
.payment .sidebar{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    padding: 0;
}
.payment .sidebar .module-line {
    margin: 15px 0;
}
.payment .sidebar-content {
    padding: 15px;
}

.payment .vip-detail-sidebar-mid {
    height: 445px;
}

.payment .sidebar .vip-detail-sidebar-mid-bg {
    height: 445px;
}

.payment .description {
    font-size: 14px;
    color: #666;
    width: 200px;
    margin: 0 20px;
    position: absolute;
}
.payment .description dd,
.payment .description dt {
    height: 35px;
    line-height: 35px;
}
.payment .description dt {
    font-size: 18px;
    color: #333;
    border-bottom: 1px dashed #ccc;
    margin-bottom: 10px;
}
.payment .description dd a {
    color: #999;
}
.payment .power-icon-min {
    margin-right: 5px;
}
.payment .sidebar .link .power-icon-min {
    margin-right: 10px;
}

.open-vip{
    padding: 25px 20px 25px 0;
    float: right;
    width: 708px;
}
.payment .sidebar .title{
    font-size: 18px;
    font-weight: bold;
}
.payment .recommend .title {
    color: #cc3333;
    font-size: 14px;
}
.payment .recommend p {
    margin: 5px 0;
}
.payment .sidebar .title-icon{
    float: left;
    width:35px;
    height:49px;
    margin-right: 10px;
    background: url(/static/images/music/payment_title.png) no-repeat; merge:vip;
}

.payment .sidebar .title-text {
    overflow: hidden;
    font-size: 18px;
    color: #333;
    margin-top: 5px;
}
.payment .sidebar .title-tip {
    font-weight: normal;
    font-size: 18px;
    color: #cc3333;
}
.payment .sidebar .more-link {
    float: right;
    font-size: 12px;
}

.payment .payment-category-tab {
    margin-bottom: 10px;
}

.payment .payment-category-tab ul li {
    position: relative;
    width: 361px;
    height: 105px;
    float: left;
    cursor: pointer;
    background: url(/static/images/music/payment-category-bg-normal.png) no-repeat; merge: vip1;

    _background: none;
    _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='corp',src='/static/images/music/payment-category-bg-normal.png');
}

.payment .payment-category-tab ul li.active {
    background: url(/static/images/music/payment-category-bg-active.png) no-repeat; merge: vip1;

    _background: none;
    _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='corp',src='/static/images/music/payment-category-bg-active.png');
}

.payment .payment-category-tab ul li i {
    position: absolute;
    top: 7px;
    left: 12px;
    width: 80px;
    height: 70px;
    display: block;
}

.payment .payment-category-tab ul li .title {
    position: absolute;
    left: 98px;
    top: 17px;
    color: #333;
    font-size: 18px;
}

.payment .payment-category-tab ul li .subtitle {
    position: absolute;
    left: 98px;
    top: 51px;
    color: #666;
    font-size: 14px;
}

.payment .payment-category-tab ul li.active .title,
.payment .payment-category-tab ul li.active .subtitle {
    color: #fff;
}

/*.payment{padding: 20px 0; }*/
.payment .item {
    /*height: 22px; */
    font-size: 14px;
    overflow: visible;
    min-height: 40px;
    _height: 40px;
}

.payment .item .content {
    float: left;
}

.payment .payment-type-item{ height: auto; width: 715px; overflow: hidden; padding-bottom: 10px;}
.payment .terms-service{ font-size: 12px;padding:20px 0 0;}
.payment .terms-service input{ margin-right: 5px;}
.payment .label { float: left; margin: 0 12px 0 0; font-weight: bold;  width: 80px;}
.payment .time-recommend {
    position: absolute;
    right: 0;
    top: 0;
    width: 25px;
    height: 27px;
    display: inline-block;
    background: transparent url(/static/images/music/payment-time-recommend.png) no-repeat; merge: vip;
}
.payment .time-item {
    /*height: 30px;*/
    float: left;
    display: block;
    _margin-top: 3px;
}

.payment .time-label {
    position: relative;
    zoom: 1;
    display: inline-block;
    _display: block;
    _margin-top: -25px;
    _margin-left: 22px;
    _width: 190px;
    height: 25px;
    _overflow-y: hidden;
    color: #999;
    border: 1px solid #ccc;
    background: #fff;
}

.payment .payment-from .time-label-active {
    color: #333;
    border: 1px solid #c53a39;
}

.payment .time-text {
    display: block;
    line-height: 27px;
    margin: 0 30px 0 15px;
}

.payment .payment-from label{
    /*float: left;*/
    margin: 0 10px 0 0;
    cursor: pointer;
    /*display: block;*/
}
.payment .payment-from b {
    color: #666;
}
.payment .form-tip {
    font-size: 12px;
    color: #999;
    margin-left: 20px;
}
.payment .payment-from select{
    /*float: left; */
    font-size: 12px;
}
.payment .paytime {
    overflow: hidden;
    float: left;
    margin-top: -3px;
}

.payment .paytime .upgrade {
    display: none;
}

.payment .paytime .sum {
    font-size: 14px;
}

.payment .endtime {
    color: #bdbdbd;
    font-size: 14px;
    margin-left: 10px;
}

.payment .sum { font-size: 18px; line-height: 22px;}
/*.payment  .from-tips{ display: none; font-size: 12px; margin-left: 20px;}*/
.payment .buy-tips{ font-weight: bold;}
.payment .payment-type{
    overflow: hidden;
    zoom: 1;
    /*width: 600px;*/
}
.payment #payment-btns {
    
}
.payment .music-ui-tab {
    border: none;
    height: 35px;
    line-height: 35px;
    /*position: absolute;
    left: 82px;*/
}
.payment .music-ui-tab li {
    border: none;
    width: 119px;
    height: 35px;
    margin: 0 10px 0 0;
    background: none;
    overflow: hidden;
}

.payment .music-ui-tab .list {
    float: none;
    width: 112px;
    height: 33px;
    line-height: 33px;
    border: 1px solid #ccc;
    padding: 0 2px;
    margin: 0 auto;
    background: #fff;
}

.payment .music-ui-tab .list:hover {
    text-decoration: none;
}

.payment .music-ui-tab li.ui-tab-active {
    background: transparent url(/static/images/music/payment_type_active.png) no-repeat; merge: vip;
}

.payment .music-ui-tab li.ui-tab-active .list {
    top: 0;
    border: 1px solid transparent;
    _border-color: pink;
    _filter: chroma(color=pink);
    background: none;
}

.payment .payment-type-list {
    width: 708px;
    margin: 5px 0 7px 0;
    padding: 0 0 0 0;
}

.payment .payment-type-list-header {
    height: 9px;
    font-size: 0;
}

.payment .payment-type-list-footer {
    height: 4px;
    font-size: 0;
}

.payment .payment-type-list .payment-type-list-header {
    width: 708px;
    font-size: 0;
}

.payment .payment-type-list .payment-type-list-footer {
    width: 708px;
    font-size: 0;
}

.payment .payment-type-list-mid {
    position: relative;
    zoom: 1;
    padding: 15px 0 15px 0;
    width: 708px;
    height: 100%;
    overflow-y: hidden;
}

.payment .payment-type-list-left {
    position: absolute;
    top: 0;
    left: 0;
    width: 4px;
    height: 2000px;
    font-size: 0;
}

.payment .payment-type-list-right {
    position: absolute;
    top: 0;
    right: 0;
    left: 704px;
    width: 4px;
    height: 2000px;
    font-size: 0;
}

.payment .payment-type-list .label {
    padding: 5px 0;
}

.payment .payment-type-list .type-title {
    margin-bottom: 15px;
    font-weight: bold;
}

.payment .tab-list {
    
}

.payment .bank-list {
    width: 520px; 
}

.bank-list-easy {
    top: 32px;
}

.bank-content-easy {
    margin-top: 10px;
}

.payment .bank-content {
    width: 640px;
    height: 100%;
}

#payment_type {
    position: relative;
    zoom: 1;
}

#easyContent,
#bfbContent,
#zfbContent,
#mobileContent {
    display: none;
}

#easyContent {
    height: 100%;
}

#bfbContent,
#zfbContent {
    
}

#mobileContent {
    height: 40px;
}

#mobileContent .inner {
    color: #666;
    font-size: 14px;
    text-align: center;
    width: 100%;
    height: 40px;
    line-height: 40px;
    display: inline-block;
}

#mobileContent .smile {
    width: 20px;
    height: 20px;
    display: inline-block;
    background: url(/static/images/music/payment_icon_smile.png) no-repeat;
    merge: vip;
    vertical-align: middle;
}

.payment .bank-list-wrapper {
    height: auto;
    position: relative;
    zoom: 1;
}

#easyContent .bank-list-wrapper {
    height: auto;
}

#mobileContent .bank-list-wrapper {
    height: 40px;
}

.payment .bank-content .label {    
    
}

.payment .bank-content .more {
    padding-top: 23px;
    height: 17px;
    line-height: 17px;
    font-size: 12px;
    padding-right: 10px;
}

.payment .bank-content .more a {
    position: static;
    font-size: 12px;
    border: none;
    height: 100%;
    width: 100%;
    display: inline;
    background: none;
    color: #2d64b3;
}

.payment #bindbank-reselect {
    width: 60px;
}

.payment .bank-list li{
    float: left;
    padding: 5px 10px 5px 0;
}
.payment .bank-list li a{ position: relative; display: block; width: 117px; height: 32px; border: 1px solid #C6C6C6; cursor: pointer; background: #fff; color: #333; font-size: 14px; }
.payment .bank-list li .status{ display: none; position: absolute; bottom: 0; right: 0; _right: -1px; width: 12px; height: 12px; background: url(/static/images/music/bank_active_status.png) no-repeat; merge:red; }
.payment .bank-list li a:hover{ border-color:#CC3333; text-decoration: none;}
.payment .bank-list li .bank-split {
    position: absolute;
    top: 0;
    left: 128px;
    height: 32px;
    line-height: 32px;
}
.payment .bank-list li a .bank-card-number {
    position: absolute;
    top: 0;
    left: 140px;
    width: 80px;
    height: 32px;
    line-height: 32px;
}
.payment .bank-list .active a{ padding: 0; border-color:#CC3333; border-width: 1px; }
.payment  .bank-list .active .status{ display:block;}

.payment .payment-type .type-spacing{ margin: 20px 0;}
.payment li.browser-tips{ clear: both; float:none; width: 525px; padding-right: 0; }
.payment .browser-tips .tips{ font-size: 12px; padding-top: 20px;}
.payment .bank-logo{ display: inline-block; width: 117px; height: 32px; position: absolute; top: 0; left: 0; }
.payment .bank-zfb{  background: url(/static/images/music/bank_zhifubao.png) no-repeat; merge:bank;}
.payment .bank-bfb{  background: url(/static/images/music/bank_baifubao.png) no-repeat; merge:bank;}
.payment .bank-gongshang{  background: url(/static/images/music/bank_gongshang.png) no-repeat; merge:bank;}
.payment .bank-zhaoshang{  background: url(/static/images/music/bank_zhaoshang.png) no-repeat; merge:bank;}
.payment .bank-jianshe{  background: url(/static/images/music/bank_jianshe.png) no-repeat; merge:bank;}
.payment .bank-nongye{  background: url(/static/images/music/bank_nongye.png) no-repeat; merge:bank;}
.payment .bank-zhongxin{  background: url(/static/images/music/bank_zhongxin.png) no-repeat; merge:bank;}
.payment  .bank-guangda{  background: url(/static/images/music/bank_guangda.png) no-repeat; merge:bank;}
.payment .bank-pufa{  background: url(/static/images/music/bank_pufa.png) no-repeat; merge:bank;}
.payment .bank-pingan{  background: url(/static/images/music/bank_pingan.png) no-repeat; merge:bank;}
.payment .bank-jiaotong{  background: url(/static/images/music/bank_jiaotong.png) no-repeat; merge:bank;}
.payment .bank-zhongguo{  background: url(/static/images/music/bank_zhongguo.png) no-repeat; merge:bank;}

.payment .bank-yinlian{  background: url(/static/images/music/bank_yinlian.png) no-repeat; merge:bank;}
.payment .bank-youzheng{  background: url(/static/images/music/bank_youzheng.png) no-repeat; merge:bank;}
.payment .bank-shanghainongshang{  background: url(/static/images/music/bank_shanghainongshang.png) no-repeat; merge:bank;}
.payment .bank-beijing{  background: url(/static/images/music/bank_beijing.png) no-repeat; merge:bank;}
.payment .bank-mingsheng{  background: url(/static/images/music/bank_mingsheng.png) no-repeat; merge:bank;}
.payment .bank-xingye{  background: url(/static/images/music/bank_xingye.png) no-repeat; merge:bank;}
.payment .bank-beijingnongshang{  background: url(/static/images/music/bank_beijingnongshang.png) no-repeat; merge:bank;}
.payment .bank-guangfa{  background: url(/static/images/music/bank_guangfa.png) no-repeat; merge:bank;}
.payment .bank-huaxia{  background: url(/static/images/music/bank_huaxia.png) no-repeat; merge:bank;}
.payment .bank-shanghai{  background: url(/static/images/music/bank_shanghai.png) no-repeat; merge:bank;}

.payment .bank-baoshang{  background: url(/static/images/music/bank_baoshang.png) no-repeat; merge:bank;}
.payment .bank-bea{  background: url(/static/images/music/bank_bea.png) no-repeat; merge:bank;}
.payment .bank-changsha{  background: url(/static/images/music/bank_changsha.png) no-repeat; merge:bank;}
.payment .bank-chengde{  background: url(/static/images/music/bank_chengde.png) no-repeat; merge:bank;}
.payment .bank-chengdunongshang{  background: url(/static/images/music/bank_chengdunongshang.png) no-repeat; merge:bank;}
.payment .bank-chongqingnongchun{  background: url(/static/images/music/bank_chongqingnongchun.png) no-repeat; merge:bank;}
.payment .bank-ningbo{  background: url(/static/images/music/bank_ningbo.png) no-repeat; merge:bank;}

.payment-exclamation-icon{display: block; width: 35px; height: 35px; margin: 0 auto 20px; background: url(/static/images/music/payment-exclamation-icon.png) no-repeat; merge: vip; float: left;}

.payment-success-icon {display: block; width: 35px; height: 35px; margin: 0 auto 20px; background: url(/static/images/music/payment-success-icon.png) no-repeat; merge: vip; float: left;}

.payment .platform-tips{ display: none;}

.power-info{ padding: 30px 0; font-size: 14px; }
.power-desc-title{ margin-bottom: 10px; font-weight: bold;font-size: 14px;}
.power-desc{  line-height: 30px; color: #999;}
.power-desc li span { display: inline; float: left; margin:  13px 5px 0 5px;  overflow: hidden; width: 2px; height: 2px; background: #999;}

.dialog-box .head { background: #e7e7e7; _width: 100%; }
.dialog-box .body{ color: #999; text-align: center; padding: 40px 54px 0px; text-align: left;}
.dialog-box .payment-dialog-content {
    display: block;
    margin-left: 45px;
    height: 55px;
}
.dialog-box .row1{ color: #000; font-weight: bold;line-height: 14px; font-size: 14px;font-family: Microsoft YaHei;margin-bottom: 8px;text-align: left;}
.dialog-box .row2{ color: #666; line-height: 12px; font-size: 12px;font-family: Microsoft YaHei;text-align: left;}
.dialog-box .btns{ padding-bottom: 50px; padding-left: 10px;}
.dialog-box .btns .payment-success-btn{ margin-right: 20px;}

.payment-dialog-banklist .body {
    padding: 0 20px 0px;
}

.payment-dialog-banklist .payment-dialog-banklist-inner {
    margin: 20px 0;
    height: 250px;
    overflow: auto;
    _position: relative;
}

.payment-dialog-banklist .bank-list {
    margin: 0 auto;
    width: 100%;
}

.payment-dialog-banklist .bank-list li {
    padding: 5px 30px 5px 0;
}

.payment-dialog-banklist .bank-list li a {
    width: 141px;
    height: 43px;
}

.payment-dialog-banklist .bank-logo {
    position: absolute;
    top: 6px;
    left: 11px;
}

.payment-dialog-banklist .btns {
    padding: 20px 0 20px 0;
    border-top: 1px dashed #ccc;
}

.payment-result-wrapper {
    display: none;
    width: 980px;
    margin: 0 auto;
    margin-top: -40px;
    background: #fff;
    position: absolute;
    top: 0;
    border: 1px solid #bbb;
    padding-bottom: 50px;
}
.payment-result{padding-top: 60px; display: none;}
.payment-result .payment-exclamation-icon {
    margin-top: 10px;
}
.payment-result .title{ margin-bottom: 8px; text-align: left; color: #ca6664; font-weight: bold; font-size: 24px; line-height: 26px; }
.payment-result .subtitle{ text-align: left; color: #666; font-weight: bold; font-size: 14px; line-height: 14px;}
.payment-success .title{  color:  #299DE7;}

.payment-result-top {
    width: 220px;
    margin: 0 auto;
}

.payment-result-content {
    display: block;
    margin-left: 45px;
    height: 55px;
}

.payment-result-from {
    /*width: 750px;*/
    /*margin: 0 auto; */
    padding: 15px 0;
    background: #F7F7F7;
    border-top: 1px dashed #D2D2D2;
    border-bottom: 1px dashed #D2D2D2;
}
.payment-result-from li {
    padding: 10px 0 10px 0;
    font-size: 14px;
    width: 200px;
    margin: 0 auto;
}
.payment-result-from li .label{float: left; width:80px ; text-align: right; font-weight: bold;}
.payment-result .btns{padding-top: 20px; text-align: center;}
.payment-result .btns a{ margin-right: 20px;}

.payment-success .title {
    color: #333;
    margin-top: 5px;
}

#easy-plugin-wrapper {
    display: none;
    width: 100%;
}

#payment-easypay {
    width: 640px;
    padding-top: 20px;
    background: #fff;
}

.bank-list li.bank-with-account a {
    width: 233px;
}

.bank-list li.bank-with-account a .bank-logo {
    left: 10px;
}

.card-type {
    height: 35px;
    line-height: 35px;
}

.card-type li {
    float: left;
}

.card-type li .card-type-label {
    display: inline;
}

.easy-plugin-tips {
    width: 600px;
    height: 34px;
    line-height: 34px;
    padding: 0 20px;
    margin-bottom: 10px;
    background: #d9d9d9;
    color: #000;
    font-size: 12px;
}

.easy-plugin-summary {
    width: 100%;
    height: 40px;
    border: 1px solid #d8e3ee;
    margin: 10px 0;
    line-height: 40px;
    padding: 0 20px;
}

.easy-plugin-summary-title {

}

.payment-category-comm-icon {
    background: url(/static/images/music/payment-category-icon-comm.png) no-repeat; merge: vip1;

    _background: none;
    _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='corp',src='/static/images/music/payment-category-icon-comm.png');
}

.payment-category-premium-icon {
    background: url(/static/images/music/payment-category-icon-premium-normal.png) no-repeat; merge: vip1;

    _background: none;
    _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='corp',src='/static/images/music/payment-category-icon-premium-normal.png');

}

.active .payment-category-premium-icon {
    background: url(/static/images/music/payment-category-icon-premium-active.png) no-repeat; merge: vip1;

    _background: none;
    _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='corp',src='/static/images/music/payment-category-icon-premium-active.png');
}

#easybank-more {
    position: absolute;
    left: 605px;
    top: 125px;
    width: 60px;
}

.payment .bfb-promo-tips {
    position: absolute;
    left: 297px;
    top: -12px;
    padding: 1px 3px;
    background: #f8c517;
    color: #c53a39;
    font-size: 12px;
    z-index: 100;
    display: none;
    zoom: 1;
}