.cloud .music-main{background:#eaeaea;}
.doc-sidebar{padding-top: 0; min-height: 500px; height: auto; _height: 500px;}
.doc-sidebar .top_tree .tree_main{margin: 0;}

.doc-body{padding: 0 0 20px;}
.doc-body h1{font-size: 22px; font-weight: bold; line-height: 40px; margin-bottom: 15px; color: #333;}
.doc-body h4{font-size: 14px; font-weight: bold; margin: 15px 0 7px 0; color: #666;}
.doc-body p{font-size: 12px; color: #666; margin: 10px 0 15px;}

.help-body h4 span{margin-right: 5px;}
.help-body .answer div{float: left; font-weight: bold; color: #666; font-size: 14px;}
.help-body .answer p{margin-left: 20px;}

.cloud .sidebar{ display: none;}
.cloud .main-body{ float: none; width: auto;}
.info1{ height: 602px; background: url(/static/images/music/doc_cloud_bg1.png) no-repeat ;}
.info2{ height: 1317px; background: url(/static/images/music/doc_cloud_bg2.png) no-repeat ;}

.more-serviece{ padding-top: 50px;}