a {
    background: url(/static/images/test.png);
}

.a {
    width: 10px;
    background: url(/static/images/test.png) 0 4px no-repeat;
}

.b {
    background: url(/static/images/test.png) 0 no-repeat;
}

div {
    background-image: url(/static/images/test.png);
    background-position: 2px 3px;
}