

/*有标题，有信息 模块*/
.mod-information  .longitudinal-list dl{ padding:5px 0 10px;}
.mod-information  .longitudinal-list dl dt{ float:none; margin:0 0 10px 0; font-weight:700;}
.mod-information  .longitudinal-list dl dd{ color:#999;}


/*有标题，无信息模块*/
.information-noinfo .longitudinal-list dl{ padding:5px 0;}
.information-noinfo .longitudinal-list dl dt{ margin-bottom:0; font-weight:normal; padding-left:18px; background: url(/static/images/bg/list_style_square.png) no-repeat 3px 10px; merge:bg;}
.information-noinfo .longitudinal-list dl dd{ display:none;}


/*banner 模块*/
.mod-information-banner .mod-info{ margin-bottom:0;}
.mod-information-banner .mod-info img{ margin:0 20px 0 0;}
.mod-information-banner .content{ overflow:hidden;zoom:1;}
.mod-information-banner .mod-body h3{ padding-top:0;}

/*右侧 模块*/
.mod-information-right .mod-info img{ float:left; margin-right:0;}

.mod-information-left .mod-info{ float:left; margin-bottom:0;}