.detailtop .title,
.hot-head .title{ margin-bottom: 15px;}

.index-tag{padding: 5px 0 10px;}
.index-tag h3{padding-right: 7px;color: #999;float: left; line-height: 30px; font-size: 14px;}
.index-tag a, .index-tag span{
	border-radius: 3px;
	display: block;
	float: left;
	font-size: 14px;
	line-height: 30px;
	padding: 0 8px;
}
.index-tag span{color: #999;}

.cover-item{ float: left; margin: 0 35px 10px 0;font-size: 14px;width: 130px;}
.cover-item dd{overflow: hidden;white-space: nowrap;}
.hot-artist .last{ margin-right: 0;}
.cover-img{width: 130px;height: 130px;margin-bottom: 13px;}
.cover img{display: block;width: 130px;height: 130px;}

.main-body .hot-head{margin-bottom: 40px;}

.container{margin-top: -5px; position: relative; font-size: 14px; padding-bottom: 40px; }
.container .list-item .last{ margin-right: 0;}
.list-item li{ float:left; width: 130px;padding: 5px 0; margin-right: 35px;overflow: hidden;white-space: nowrap;}
.container .list-item .line-space{height: 40px; width: 750px;}

.container h3{font-weight: bold; padding: 15px 0 0;}
.container .hot-head h3{font-weight: bold; padding: 15px 0;}
.list-item{margin-bottom: 15px;}
.container .has-icon{float: left;}
.container .icon-hot{float: left; display: block; margin-left: 5px;}

/*western*/
.western .cover-item,
 .western .list-item li{margin-right: 18px;width: 179px;}
.western .last{ margin-right: 0;}
.western .list-item .last{margin-right: 0;width: 193px;}

