/*邀请*/
.invite{ 
    /*font-family:Microsoft YaHei;*/
}

.music-body{ 
    width: 100%; 
    background: none #f4ead7;
}
.mod-invite{ 
    background: url("/static/images/vip/invite/bg_top.png") repeat-x  #f4ead7;
    font-size: 14px;
}
.invite_content{
    background: url("/static/images/vip/invite/top_banner.jpg") no-repeat;
    width: 1073px;
    margin: 0 auto;
}
.mod-invite .top_banner{
    height: 392px;
    position: relative;
}
.mod-invite .top_banner .link{
    color: #f6b57b;
    position: absolute;
    right: 65px;
    top: 10px;
    line-height: 24px;
}
.link .link_row{
    display: block;
    cursor: pointer;
}
.link .link_row a{
    color: #f6b57b;
}
.mod-invite .top_banner .user_panel{ 
    position: absolute;
    width: 265px;
    height: 90px;
    top:250px;
    left: 540px;
}
.mod-invite .user_panel .login-btn{
    cursor: pointer;
}
.mod-invite .user_panel p.label{ 
    color: #83522a; 
    font-weight: bold;
    padding-bottom: 5px;
}
.mod-invite .user_panel .user_avatar{ 
    float: left; 
    width: 56px; 
    height: 56px; 
    border: 1px solid #fff;
    margin-right: 5px;
}
.mod-invite .user_panel .user_avatar img{
    width: 56px;
    height: 56px;
    overflow: hidden;
}
.mod-invite .user_panel .user_detail{}
.user_panel .user_detail .user_title{}
.user_panel .user_detail .user_title span{ 
    color: #898989;
}
.user_panel .user_detail .user_title .username{ 
    color: #ff4f00;
}
.user_panel .user_detail .user_title .power-icon-min {
    margin-left: 3px;
    cursor: default;
}
.user_panel .user_detail .user_title .usertag{ 
    color: #ff4f00; 
    font-weight: bold;
}
.user_panel .user_detail .vip_info{
    color: #898989;
}

.mod-invite .top_banner .invite_info{
    width: 336px;
    height: 87px;
    bottom: 0px;
    left: 42px;
    position: absolute;
}
.mod-invite .top_banner .friend_desc{
    background: url("/static/images/vip/invite/letter.png") 0 center no-repeat;
    position: absolute;
    left: 96px;
    bottom: 0px;
    padding-left: 36px;
}
.lbl_vip{
    color: #ff4f00;
    font-weight: bold;
    position: absolute;
    left: 96px;
    bottom: 0px;
    background: none;
    padding: 0;
}

.mod-invite  .step_get7{ 
   background: #fff; 
   height: 235px;
   width: 908px;
   margin-left: 47px;
}
.step_get7 .vip_intro{
    background: url("/static/images/vip/invite/vip_tequan_ie6.png") no-repeat;
    height: 110px;
    width: 550px;
    margin: 5px 0 20px 0;
}
.step_get7 .vip_intro a{
    display: inline-block;
    width: 145px;
    height: 85px;
    margin-top: 22px;
}
.step_get7 .vip_intro a.item_01{
    width: 145px;
}
.step_get7 .vip_intro a.item_02{
    margin-left: 55px;
}
.step_get7 .vip_intro a.item_03{
    margin-left: 42px;
}
.step_get7 .get_vip{
    width: 525px;
    margin: 0 auto;
    padding-top: 30px;
}
.step_get7 .get_panel{
    /*margin-left: 145px;*/
}
.step_get7 .get_panel .link_get7{
    display: block;
    height: 58px;
    width: 228px;
    cursor: pointer;
    margin: 0 auto;
}
.step_get7 .get_panel .receive-btn{
    background: url("/static/images/vip/invite/get_vip.png") no-repeat;
}
.step_get7 .get_panel .receive-btn:hover{
    background: url("/static/images/vip/invite/get_vip_hover.png") no-repeat;
}
.step_get7 .get_panel .receive-already{
    background: url("/static/images/vip/invite/get_vip_active.png") no-repeat;
}
.get_panel .btn_shadow{
    display: block;
    width: 228px;
    background: url("/static/images/vip/invite/get_shadow.png") no-repeat;
    height: 28px;
    margin-top: 3px;
}

.mod-addmonth{
    width: 908px;
    background: #fff;
    margin-left: 47px;
    height: 475px;
    padding-top: 35px;
}
.mod-addmonth .addmonth_left{
    width: 410px;
    float: left;
}
.addmonth_left .invite_process{
    background: url(/static/images/vip/invite/share_start_ie6.png) no-repeat #fff;
    height: 80px;
    width: 400px;
}
.invite_record .no0{
    background-position: -33px -340px;
}
.invite_record .no1{
    background-position: -33px -430px;
}
.invite_record .no2{
    background-position: -33px -540px;
}
.invite_record .no3{
    background-position: -33px -650px;
}
.addmonth_left .title{
    background: url("/static/images/vip/invite/step_02_title.png") no-repeat;
    _background: none;
    _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='corp',src='/static/images/vip/invite/step_02_title.png');
    height: 77px;
    margin-left: -4px;
}
.addmonth_left .invite_record{
    background: url("/static/images/vip/invite/ren_v3.png") right 0 no-repeat;
    _background: url("/static/images/vip/invite/ren_v3_ie6.png") right 0 no-repeat;
    padding-top: 225px;
    margin: 10px 0 0 65px;
    color: #c5a168;
    line-height: 25px;
}
.invite_record .record_title{
    width: 70px;
    height: 75px;
    float: left;
}
.invite_record .record_detail{

}
.invite_record .record_detail span{
    display: block;
}

.line_dot{
    background: url("/static/images/vip/invite/line-dot.png") repeat-x;
    height: 5px;
    width: 908px;
    margin-left: 47px;
}

.mod-addmonth .addmonth_right{
    width: 405px;
    margin-left: 70px;
    _margin-left: 30px;
    float: left;
}
.addmonth_intro .lbl_nologin{
    color: #ff4f00;
    line-height: 28px;
}
.addmonth_intro .lbl_xu{
    color: #c5a168;
    line-height: 28px;
}
.method_01{
    margin-top: 65px;
}
.method_01 .title,
.method_02 .title{
    color: #898989;
}
.method_01 .title span,
.method_02 .title span{
    display: inline-block;
    height: 35px;
}
.method_01 .title .stren,
.method_02 .title .stren{
    width: 85px;
    height: 20px;
    background: #f1ab0d;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    margin: 0 10px 10px 0;
    padding: 5px 7px 5px 15px;
    font-weight: bold;
}
.method_01 .ta_share{

}
.ta_share textarea{
    width: 380px;
    height: 80px;
    border: 1px solid #bdbad5;
    padding: 5px;
    font-size: 12px;
}
.method_01 .share{
    float: right;
    height: 40px;
    margin: 0 13px 20px 0;
}

.method_02{
    clear: both;
    margin-top: 20px;
}
.method_02 .input_share{

}
.input_share span{
    display: block;
    float: left;
}
.input_share .is_input{
    width: 290px;
    height: 28px;
    border: 1px solid #bdbad5;
    background: #fff;
}
.input_share .is_input input{
    border: 0 none;
    padding: 5px;
    width: 270px;
    padding: 8px 0 0 10px;
}
.input_share .is_btn{
    width: 50px;
    background: #73b0f9;
    border-radius: 3px;
    padding: 5px 15px;
    text-align: center;
    margin-left: 10px;
    color: #fff;
    font-weight: bold;
}

.vip-power-list{
    width: 858px;
    background: #fff;
    margin: 10px 0 0 47px;
    padding: 25px;
    _width: 860px;
    _overflow: hidden;
}
.vip-power-list .head .title {
    padding-bottom: 20px;
    font-family: Microsoft YaHei,Arial;
    font-size: 28px;
    line-height: 28px;
    font-weight: bold;
    color: #a75511;
}
.vip-power-list ul {
    padding: 20px 0 0 25px;
    font-size: 12px;
}
.vip-power-list li {
    float: left;
    width: 240px;
    margin: 0 35px 25px 0;
}
.vip-power-list li a {
    display: block;
    padding: 10px;
    overflow: hidden;
    zoom: 1;
    border: 1px solid #E8E8E8;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    background: #F8F8F8;
    cursor: pointer;
}
.vip-power-list li a:hover {
    border-color: #299DE7;
    text-decoration: none;
    background: #fff;
    box-shadow: 0 0 2px #acd5ef;
}
.vip-power-list li a .power-icon-max {
    float: left;
    margin-right: 10px;
}
.vip-power-list li a .power-name {
    font-weight: 700;
    font-size: 14px;
    color: #c5a168;
}
.vip-power-list li a .power-desc {
    color: #999;
}

.mod-invite-desc{
    width: 858px;
    background: #fff;
    margin: 10px 0 0 47px;
    padding: 25px;
    margin-bottom: 30px;
}
.mod-invite-desc .title{
    padding-bottom: 20px;
    font-family: Microsoft YaHei,Arial;
    font-size: 28px;
    line-height: 28px;
    font-weight: bold;
    color: #a75511;
}
.mod-invite-desc .c6{
    line-height: 30px;
    color: #999;
}
.mod-invite-desc .c6 li{

}

.vip-power-list li a .blue_link{
    color: #2d64b3;
}

.addmonth_right{
    position: relative;
}
.mask{
    background: url(/static/images/vip/invite/share_start.png) no-repeat #fff;
    _background: url(/static/images/vip/invite/share_start_ie6.png) no-repeat #fff;
    position: absolute;
}
.mask_ta{
    background-position: -13px -24px;
    width: 410px;
    height: 143px;
    right: 2px;
    bottom: 90px;
    *bottom: 105px;
}
.mask_input{
    background-position: -13px -230px;
    width: 410px;
    height: 35px;
    right: 2px;
    bottom: -2px;
}

/*dialog*/
.invite-dialog{
}
.invite-dialog .success-icon{ 
    margin: 0 auto;
    background: url(/static/images/vip/invite/invite.png) 0 0 no-repeat;
    width: 76px;
    height: 76px;
}
.invite-dialog p{ 
    text-align: center;
}
.dialog-box .success-tips{ 
    padding: 30px 0; 
    line-height: 30px; 
    font-size: 30px; 
    font-weight: bold; 
    font-family:Microsoft YaHei; 
}
.dialog-box .view-mypower{
    padding-top: 30px;
}
.dialog-box .btns{ 
    padding-top: 20px;
}

.dialog-box .yellow{
   color: #ff4f00;
}
.vip_end{
    height: 185px;
    display: none;
}

.invite-dialog .confirm, .invite-dialog .confirm:hover{
    background: url(/static/images/vip/invite/invite.png) 0 -86px no-repeat;
    width: 180px;
    height: 35px;
}
.invite-dialog .cancel, .invite-dialog .cancel:hover{
    background: url(/static/images/vip/invite/invite.png) 0 -140px no-repeat;
    width: 80px;
    height: 35px;
}
