/*领取*/
.receive{ font-family:Microsoft YaHei;}
.mod-receive{ height: 522px; margin-bottom: 50px; background: url(/static/images/music/receive_bg.png) no-repeat;}
.mod-receive .desc{ padding: 180px 0 10px ; font-size: 18px; text-align: center; font-weight: bold;}
.mod-receive .active-time{display: none; font-size: 14px; text-align: center; }
.mod-receive .receive-info{padding:29px 0 0 368px;}
.mod-receive .receive-btn{ float: left;width: 266px; height: 77px; background: url(/static/images/music/receive_btn.png) no-repeat; margin-right: 44px;
		_background: none;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='corp',src='/static/images/music/receive_btn.png');
	 cursor: pointer;
}
.mod-receive .receive-already{ float: left; width: 260px; height: 70px; margin-right: 50px;}
.mod-receive .receive-already{ background: url(/static/images/music/receive_already.png) no-repeat; cursor: default; merge:bg; }
.mod-receive .share{ float: left; padding-top: 25px;}
.mod-receive .share .share-label{ float: left; padding-top: 3px;}

.mod-power-info { margin-bottom: 20px;}
.mod-power-info .title,
.mod-active-desc .title{margin-bottom: 20px; font-size: 18px; font-weight: bold;}
.mod-power-info .title span,
.mod-active-desc .title span{ float: left; width: 10px; height: 24px; background:#299DE7 ; margin-right: 15px;}
.mod-power-info li { float: left; margin-right: 20px; width: 305px; height: 154px; background: url(/static/images/music/power_list_bg.png) no-repeat;merge:bg;}
.mod-power-info li .power-title{padding: 20px; font-size: 50px; font-weight: bold; line-height: 50px; text-align: center; color: #299DE7;}
.mod-power-info li p{ font-weight: bold;font-size: 14px; text-align: center;}

.mod-active-desc li{padding-left: 24px; line-height: 30px; font-size: 14px; }

.receive-dialog .success-icon{ margin: 0 auto;}
.receive-dialog p{ text-align: center;}
.dialog-box .success-tips{ padding: 30px 0; line-height: 30px; font-size: 30px; font-weight: bold; font-family:Microsoft YaHei; }
.dialog-box .view-mypower{padding-top: 30px;}
.dialog-box .btns{ padding-top: 20px;}