@import "/site/search/music_result/mod_outline.css";
@import "/site/search/music_result/mod_ting_recommend.css";
@import "/site/search/music_result/mod_album_list.css";
@import "/site/search/music_result/mod_artist_list.css";
@import "/site/search/music_result/mod_song_list.css";
@import "/site/search/music_result/mod_target_album.css";
@import "/site/search/music_result/mod_target_artist.css";
@import "/site/search/music_result/mod_lrc_list.css";
@import "/site/search/music_result/mod_target_tag.css";
.music-body{ border-bottom: 1px solid #e4e4e4; margin-bottom: 15px; }

.ad-small{width:278px;height:300px;}
.music-body{ border-bottom: none;}
.main-body .search-body{padding-right: 20px;}
.main-body .search-body .ci { color: #c33; }
.main-body .search-body em {color: #c33;}
/*.main-body .search-body .song-list { margin-bottom: 50px;}*/

.search-result-container .artist-list,
.search-result-container .album-list,
.search-result-container .song-list,
.tag-result-container .song-list {
    padding-bottom: 50px;
    /*padding-right: 20px;*/
}
 #listen-indicator { left: 0; }
.search-result-container .songlist-expand .song-list {
    padding-bottom: 0;
}

.search-result-container .module-dotted {
    margin-bottom: 15px;
}
.search-result-container .page-navigator{
	padding-bottom: 20px;
}
.search-result-container .mp3logo{
	float:right; height: 25px; padding: 5px 0 30px 75px; 
	background: url(/static/images/bg/mp3logo.png) no-repeat;
}
.ecom-banner .module-line{margin-bottom: 15px;}

.tag-outline{ height: 25px; margin-top:-3px; border-bottom: 1px solid #e4e4e4; margin-bottom: 15px; padding-bottom: 11px; }
.tag-outline p{ float: left; padding-top: 3px; }
.tag-outline a{ margin-left: 10px; float: left; }
.tag-outline a.bkcommon{ display: block; padding-top: 3px; }

/*专辑tab展开时去掉专辑列，将歌手后移*/
#album_list .songlist-expand .song-item .singer{
	margin-left: 50px;
}
.copy-lyric-hook{
	display: none;
	padding-right: 10px;
	margin-right: 5px;
	border-right: 1px solid #ddd;	
}

/*版权提示文案*/
.limited-search-result{
    font-weight: bold;
    font-size: 14px;
}

/* 检索结果建议 */
.search-tabs {
    position: relative;
    margin-bottom: 10px;
    zoom: 1;
}

#result_container{
    position: relative;
    zoom: 1;
}

#search-suggest{
    position: absolute;
    right: 0;
    bottom: 5px;
}
#search-suggest-bottom{
    position: absolute;
    right: 0;
}

#search-suggest-container {
    display: none;
    z-index: 100;
    position: absolute;
    background-color: #FFF;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27);
    -moz-box-shadow: 0 1px 4px rgba(0,0,0,0.27);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27);
    border: solid 1px #999;
    border-radius: 4px;
    width: 303px;
    height: 210px;
}

#search-suggest-container .css-close{
    position: absolute;
    right: 14px;
    top: 12px;
    width: 11px;
    height: 11px;
    text-decoration: none;
    background: url(/static/images/btn/icon_del_small.png) no-repeat;
    merge: rich;
    _background: none;
    _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='corp',src='/static/images/btn/icon_del_small.png');
}

#questions {
    padding: 35px 30px 0 30px;
    line-height: 30px;
}

#search-suggest-container textarea{
    border: 1px solid #999;
}

#search-suggest-container .tips {
    position: absolute;
    color: gray;
    right: 30px;
    bottom: 18px;
}
.yinpin-ad h2{
    line-height: 40px;
    font-size: 14px;
}
.yinpin-ad{
    margin:0 auto 15px;
    overflow: hidden;
    color: #666;
}
.yinpin-ad .yinpin-ad-link{
    float: left;
    margin-right: 15px;
}
.yinpin-ad .yinpin-content{
    position: relative;
}
.yinpin-ad .i-tuiguang{
    position: absolute;
    top: 75px;
    left: 165px;
    color: #2a62c1;
}

.rec-tag{
    padding: 0px 10px 15px 7px;
}
.item-tag{
    display: inline-block;
    border: 1px solid #d7d7d7;
    border-radius: 5px;
    margin-right: 8px;
    padding: 0 8px;
    line-height: 26px;
}
.first-tag a{
    color: #333;
    text-decoration: none;
}

/* 检索结果 */
#listen-indicator {
  position: absolute;
  background: #fff;
  width: 100%;
}

/*检索页聚合*/
.module{border-top: 1px solid #d8d8d8;}
.module .body{padding-bottom:25px;overflow: hidden;}
.module .head .title{ height: 50px;line-height: 50px; font-size: 14px; font-weight: 500; font-family: Microsoft YaHei;}
.group-list li.group-last-item{
    margin-right: 0px;
}
.group-item{
    float: left;
}

.group-album .group-item{
    width: 90px;
    height: 135px;
    margin-right: 33px;
}

/*代表艺人*/
.group-artist .group-item{
    height: 167px;
    width: 120px;
    margin-right: 27px;
    text-align: center;
}

.group-artist .cover{
    display: block;
    height: 120px;
    margin-bottom: 5px;
}
.group-artist .cover img{
    display: block;
}
.group-artist .group-item .play-hot-btn{
    display: block;
    border: 1px solid #e8e8e8;
    border-radius: 2px;
    height: 20px;
    line-height: 20px;
    width: 118px;
    text-decoration: none;
    text-align: center;
    color: #2e66b3;

}
/*歌单*/
.group-songlist .group-item{
    width: 130px;
    height: 130px;
    margin-right: 15px;
}
.group-songlist .songlist-cover{
    position: relative;
}
.group-songlist img{
    display: block;
}
.group-songlist .songlist-cover .play
{ position: absolute;z-index:2; right:2px;bottom: 3px;_bottom: 23px; width:32px;height:31px; cursor: pointer;
    background:url(/static/images/music/album-cover-play.png) no-repeat; merge:bg;
    _background: none;
    _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='corp',src='/static/images/music/album-cover-play.png');
}
.group-songlist .songlist-cover .play:hover{
    background:url(/static/images/music/album-cover-play-hover.png) no-repeat;merge:blue;
    _background: none;
    _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='corp',src='/static/images/music/album-cover-play-hover.png');  }

.group-songlist .group-item .col-listen{
    position:absolute;
    height: 23px;
    padding: 6px 8px 0 0;
    width: 116px;
    right: 0px;
    top: 0px;
    text-align: right;
    color: #FFF;
    background:  url(/static/images/bg/plaza-col-listen-bg.png) no-repeat;
        merge:rich;
        _background: none;
    _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='corp',src='/static/images/bg/plaza-col-listen-bg.png');    
}
.group-songlist .group-item .col-listen span{
    position: relative;
    padding-left: 20px;     
    /*float: right;*/
}
.group-songlist .group-item .col-listen span i{
    display: inline-block;
    position: absolute;
    height: 20px;
    width: 20px;
    left: 0px;
    top: 0px;
    background:  url(/static/images/bg/col-listen-icon.png) no-repeat;
        merge:rich;
        _background: none;
    _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='corp',src='/static/images/bg/col-listen-icon.png');    
}
.group-songlist .group-item .songlist-title{
    position: absolute;
    left: 0px;
    top: 91px;

    width: 130px;
    height: 40px;
    background:  url(/static/images/bg/plaza-songlist-bg.png) no-repeat;
        merge:rich;
        _background: none;
    _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='corp',src='/static/images/bg/plaza-songlist-bg.png');  
}
.group-songlist .group-item .songlist-title h2{
    display: table-cell;
    vertical-align: middle;
    height: 32px;
    line-height: 20px;
    padding-left: 5px;
    padding-top: 4px;
    width: 90px;
    line-height: 16px;
    color: #FFF;
}
/*专辑*/
.group-album .body {
    text-align: center; 
    overflow:visible;
}
.group-album ul{
    height: 135px;
}
.group-album .album-cover{
    zoom:1;
}
.group-album .album-name{
    margin-top: 5px;
}
/*MV*/
.group-mv .group-item{
    width: 162px;
    height: 121px;
    margin-right: 20px;
}
.group-mv .mv-cover{
    width: 160px;
}
.group-mv .mv-cover img{
    width: 150px;
    height: 85px;
}
/*代表音乐人模块*/
.group-ybaidu{border:none;}
.group-ybaidu .head .title{height: 30px;line-height: 30px;margin-bottom: 5px;}
.group-ybaidu .body{ overflow: hidden;}
.group-ybaidu ul{ margin:0 -100px 0 0;}
.group-ybaidu li  {position: relative; float:left; margin:0 23px 10px 0; text-align: center; }
.group-ybaidu li .cover-img  { width: 60px; height: 60px; margin-bottom: 4px; }
.group-ybaidu li{padding-top: 1px;}


.search-result-container .artist-list .icon-ybaidu{
    display: inline-block;
    width: 15px;
    height: 17px;
    position: relative;
    top: 3px;
    margin-left: 5px;
}/*_JCH_site/search/music_result/group_top/jch/jch_mod_movie.tpl_text/css */

  #search-rec-movie {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-bottom: 20px;
  }
  #rec-movie-list {
    position: relative;
    width: 5000px;
  }
  #rec-movie-list .group{
    float: left;
    width: 710px;
  }
  #film-change .right-btn{
    margin-right: 5px;
  }
  .film-list {
    display: inline-block;
    float: left;
    width: 328px;
    height: 120px;
    overflow: hidden;
  }
  .film-list.even{
    float: right;
  }
  .film-list img {
    width: 90px;
    height: 120px;
    display: inline-block;
  }
  .film-list-pic {
    float: left;
    position: relative;
    width: 90px;
    height: 120px;
    margin-right: 20px;
  }
  .film-list-title {
    float: left;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: bold;
  }
  .film-list-title a {
    color: #333;
  }

  .film-list-pic .play{
    position: absolute;z-index:2; right:8px;bottom: 8px; width:32px;height:31px; cursor: pointer;
	  background:url(/static/images/music/album-cover-play.png) no-repeat;
    merge:bg;
	  _background: none;
	  _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='corp',src='/static/images/music/album-cover-play.png');
  }
  .film-list-pic .play:hover{
    bottom:7px;right:7px;width:34px;height:33px;
	  background:url(/static/images/music/album-cover-play-hover.png) no-repeat;
    merge:blue;
	  _background: none;
	  _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='corp',src='/static/images/music/album-cover-play-hover.png');
  }

  #rec-movie-list .song-list {
    float: left;
    width: 210px;
    padding-top: 0;
    clear: none;
  }
  #rec-movie-list .song-list ul li {
    padding: 2px 0;
  }
  #rec-movie-list .song-list .song-item{
    padding-left: 0;
  }
/*_JCH_*/


