<!DOCTYPE html>
<!--<html manifest="/static/m3d.manifest">-->
<html>
<head>
    <meta charset="utf-8">
    <title>M3D开发联调平台</title>
    <link rel="stylesheet" href="/static/css/all.css">
</head>
<body ng-controller="AppCtrl">
<nav class="main-panel" ng-controller="MainPanelCtrl" ng-include="'/static/html/mainPanel.html'"></nav>
<div class="main-page" ng-view></div>

<script type="text/javascript" data-main="/static/js/main.js" src="/static/js/lib/require.js"></script>
</body>
</html>