#artist_list .item{ padding:0; zoom:1; *margin-bottom:-2px; border-bottom: 1px solid #e4e4e4;}
#artist_list .item-last{border-bottom: none;}
#artist_list .item .info:hover{background-color: #E9F1F7;}
#artist_list .item .info{ padding: 15px; height:93px; position: relative;}
#artist_list .artist-face{ float: left; margin:0 20px 0 0; }
#artist_list .artist-info{ position: relative; overflow: hidden; zoom: 1; height:93px;}
.artist-info .name{ margin-bottom: 7px; }
.artist-info .detail a{ font-weight: bold; }
.artist-info .intro{ color: #999; margin-bottom: 7px; }
#artist_list em{ color: #c33; font-style:normal; }
#artist_list .search-folder i{display:inline-block; margin-left: 5px; width:0; height:0; overflow:hidden;
    vertical-align: middle; border-style:solid dashed none dashed ; border-width:4px 4px 0 4px;
   border-color:#245FB3  transparent transparent transparent;}
#artist_list .search-folder .unfold i{border-style:none dashed solid dashed   ; border-width:0 4px 4px 4px ;
   border-color:transparent   transparent #245FB3   transparent;}
#artist_list .artist-info .has-split{float: left; }
#artist_list .artist-info .module-line{float: left; height: 9px;margin: 7px 8px 0; *margin-top: 6px; width: 1px;}

#artist_list .songlist-expand{padding-bottom: 15px;}
#artist_list .item .info .btn-singer-fm{ position: absolute; top: 15px; right: 15px; z-index: 10; }
