.outline {padding-bottom:15px; position: relative;}
.outline .number {font-family:Verdana;}
.outline .similar-query {color:#0072C3;}
.outline .no-result {margin-bottom:30px;}
.outline .no-result .sorry {text-align:center; padding:15px 0 40px; border-bottom:1px dashed #E5E5E5; font-size:14px;}
.outline .no-result .sorry .sorry-img {margin-bottom:10px;}
.outline .no-result .sorry .work-hard-img {margin-top:15px;}
.outline .no-result h3 {margin-top:10px; font-size:14px; line-height:28px; font-weight:bold; color:#333;}
.outline .no-result li {list-style:square inside;}
.outline .tag-tip{ position:absolute; top:0; right:15px; }
.rem-qianqian {
	position: relative;
	margin-top: 55px;
	padding: 0 0 40px 385px;
	text-align: left;
	color: #333;
	font-size: 14px;
	zoom:1;
}
.rem-qianqian .sorry{
	line-height: 26px;
	padding-top: 15px;
	margin-bottom: 15px;
	text-align: left;
}
.rem-qianqian .search-pc-bg{
	position: absolute;	
	display: block;
	zoom:1;
	left: 10px;
	top: 0px;
}
.ttp-down-btn{

	display: inline-block;
	margin-top: 5px;
	margin-left: 50px;
	width: 145px;
	height: 48px;
	background:  url(/static/images/music/search_qianqian_down.png) no-repeat;
}