.target-tag { padding:10px 25px 20px 15px;}
.target-tag .title{ float: left; margin-top: 5px;}
.target-tag .tag-nav {
    width: 44px;
    float: left; margin-top: 5px;
    background: url("/static/images/music/tag-title.png") no-repeat; merge:blue;

}
.target-tag .title {color: #cc3333;font-weight:700;padding-left:10px; margin-top: 5px;}
.target-tag .total { float: left; padding-left:10px;color:#999; margin-right: 15px; margin-top: 5px;}

#target_banner .module-line-bottom{  margin: 0 0 15px; }
