.search-left .song-list em {color:#c33; font-style:normal;}
.search-left .song-list .unreleased em{ color: #666; }
.song-list .singer{position: relative;}
.song-list .checkbox-item,
.song-list .index-num,
.song-list .song-title,
.song-list .album-title,
.song-list .singer{float: left; vertical-align: baseline;}
.song-list .singer .author_list{ position: relative; width:100%;}

.song-item span.song-title{ margin-right: 30px; }
.song-item span.singer{ margin-right: 30px; }

.search-song-list .song-item span.song-info{ float: left; }

