.ting-recommend {margin:20px 0;}
.ting-recommend .top-list {margin-bottom:20px; padding-bottom:20px; border-bottom:1px dashed #E5E5E5;}
.ting-recommend .top-list a{ float: left; }
.ting-recommend .top-list .module-line { float: left; width: 1px; height: 8px;margin: 6px 5px; }
.ting-recommend h3 {font-weight:bold; color:#333; padding-bottom:5px;}
.ting-recommend .rool-hook .rool-inner {width: 670px; height: 140px; margin-left: 5px;}
.ting-recommend .rool-hook .roll-item {padding: 0 0 40px 0; width: 90px; margin:0  11px;}
.ting-recommend .rool-hook .roll-item p {width: 100%; text-align: center;}
.ting-recommend .rool-hook .roll-item p a {width: auto;}
.ting-recommend .album-cover {margin-bottom: 10px;}