.exchange-page .music-body {
	background: none;
	overflow-x: hidden;
}

.exchange-page .vip-power-list ul {
	margin-left: -8px;
}

.exchange-banner {
	position: relative;
	width: 980px;
	height: 340px;
	margin: 35px 0 20px;
	background: url(/static/images/vip/exchange_banner.png) no-repeat;
}

#exchange-code {
	position: absolute;
	top: 160px;
	left: 350px;
	width: 260px;
	height: 25px;
	line-height: 25px;
	border: none;
	font-size: 15px;
	font-family: monospace;
}

#exchange-tip {
	color: #ccc;
	font-size: 12px;
}

.exchange-getcode {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 31px;
}

.exchange-getcode-bg {
	position: absolute;
	top: 0;
	left: 0;
	height: 31px;
	background: #c53a39;
	opacity: 0.72;
	-moz-opacity: 0.72;
	filter:alpha(opacity=72);
	_background: #c53a39;
	width: 100%;
	height: 100%;
}

.exchange-getcode-content {
	position: absolute;
	top: 0;
	right: 10px;
	color: #fff;
	line-height: 32px;
}

.exchange-getcode-content div {
	float: left;
}

.exchange-getcode-icon {
	width: 28px;
	height: 13px;
	margin: 9px 5px 0 0;
	background: url(/static/images/vip/exchange_getcode_new.png) no-repeat;
}

.exchange-getcode-content a {
	color: #fff;
}

#exchange-submit {
	position: absolute;
	top: 152px;
	left: 640px;
	width: 152px;
	height: 41px;
	cursor: pointer;
	background: url(/static/images/vip/home/exchange_btn.png) no-repeat;
}

.exchange-dialog {
	width: 300px;
	height: 200px;
}

.exchange-dialog h2 {
	font-size: 14px;
	margin-top: 50px;
}

.exchange-dialog .head {
	border: none;
	text-align: center;
	height: 70px;
	padding-bottom: 5px;
}

.exchange-dialog .body {
	text-align: center;
	padding-top: 0;
}

.exchange-dialog .btns {
	margin: 10px 0;
}

.exchange-dialog .btn .inner {
	width: 110px;
	height: 35px;
}

.exchange-page .input-default {
	color: #ccc;
}

.exchange-page .dialog-box {
	z-index: 1002;
}

.exchange-page .dialog-bg {
	z-index: 1001;
}