body {
	margin: 0;
	padding: 0;
}

.content {
	background-color: #EAEAEA;
}

.header {
	width: 100%;
	height: 36px;
	background: url(/static/images/vip/exchange_header_mobile.png) repeat-x; merge:vip;
}

.content {
	width: 100%;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
}

.main-content {
	width: 293px;
	margin: 0 auto;
	padding: 20px 0;
}

.form {
	width: 290px;
	margin: 0 auto;
}

.footer {
	width: 293px;
	margin: 40px auto;
}

.footer h3 {
	font-size: 15px;
	color: #666666;
}

.footer p {
	font-size: 12px;
	color: #666666;
}

.banner,
.banner img {
	width: 293px;
	height: 118px;
}

.login-btn {
	font-size: 15px;
	color: #EAEAEA;
	float: right;
	margin-right: 15px;
	height: 36px;
	line-height: 36px;
}

.login-btn a {
	color: #EAEAEA;
	text-decoration: none;
}

#exchange-code {
	width: 280px;
	height: 30px;
	margin: 10px auto;
	padding: 0 5px;
	color: #333;
	font-size: 10px;
	font-family: monospace;
	border: none;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.4);
}

#exchange-submit,
#exchange-submit img {
	display: block;
	width: 132px;
	height: 42px;
	cursor: pointer;
	margin: 10px auto;
}