.album-info{position: relative;zoom:1;margin-bottom: 10px;z-index: 800;}
.album-info  .album-play-num{ position:absolute; top:0; right:0;}
.album-info  .album-play-num .num{margin-right:10px; line-height:26px; font-size: 16px;font-weight: bold;}
.album-info .opera{ padding-top:5px;}

.base-info{padding-bottom: 10px;}
.base-info .cover-img{float: left; position:relative; margin-right: 20px; width: 130px;height: 130px;}
.base-info .cover-img img{  width: 130px;height: 130px;}

.base-info .cover-img .album-exclufirstpub-icon,
.base-info .cover-img .album-hot-icon,
.base-info .cover-img .album-new-icon{
	position: absolute; top: 0; right: 0; width:40px;height:40px; cursor: pointer;
}
.base-info .cover-img .album-exclufirstpub-icon{ 
	width: 43px; height: 43px; 
	position: absolute; right: -10px; top: -10px;
	background:url(/static/images/music/album-exclufirstpub-icon-large.png) no-repeat;merge:red;
	_background: none;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='corp',src='/static/images/music/album-exclufirstpub-icon-large.png');
}

.base-info .cover-img .album-new-icon{ 
	width: 57px; height: 57px;
	background:url(/static/images/music/album-new-icon-large.png) no-repeat;merge:blue;
	_background: none;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='corp',src='/static/images/music/album-new-icon-large.png');
}

.album-info .album-name{ width:450px;word-wrap:break-word; padding-bottom:7px;font:bold 22px "Microsoft YaHei","微软雅黑","幼圆";}
.base-info-cont{ overflow: hidden;zoom:1;}
.base-info-cont li{padding-bottom: 4px;}

.album-down .power-icon-min{ margin-left: 5px;}
.album-down .txt{ _margin-top: 5px;}

.album-desc{line-height: 22px;padding-bottom: 5px;}
.album-desc  .description{white-space:pre-wrap;}
.album-desc  .description-all{display:none;white-space:pre-wrap;}
.share{ float: right;}
.share-labe{float:left;line-height:27px;}

.mod-song-list {position: relative;}
.mod-song-list .head .title{ float: left; margin-right: 5px;}
.mod-song-list .song-item .hot-info{left:463px;}
.sns .mod-other-list{ margin-bottom: 15px;}
.mod-other-list ul{ margin-right: -100px; padding-top: 12px;}
.mod-other-list li { width: 90px; margin:0  34px 15px 0; float: left;text-align: center; }
.mod-other-list li .album-cover{margin-bottom: 5px;}
.mod-other-list li .album-name {display: block;white-space:nowrap; }
.mod-other-list li.album-last{margin-right: 0;}

.guide-to-mobile-wrapper { margin-top: 10px; margin-bottom: 15px; position: relative;z-index: 1000;}

.mod-topic{padding-top: 10px;}
.mod-topic li{padding-bottom: 4px;}
.mod-topic li i{ float: left; width: 2px; height: 2px; overflow: hidden; background: #999; margin:9px 10px 0 0;}
