

.mod-media .mod-body{ padding-bottom:0;}
.mod-list .media-list li{ margin:0 2px;}
.mod-list .media-list .pic-img img{ width:118px; height:38px; border:1px solid #eee;}

/*无标题*/
.mod-media-notitle  .media-list .pic-title{ display:none;}


/*无图片*/
.mod-media-nopic  .media-list{ padding-bottom:10px;}
.mod-media-nopic  .media-list li{ padding-bottom:5px;}
.mod-media-nopic  .media-list .pic-img{ display:none;}
.mod-media-nopic  .media-list a{ margin:0 5px;}