.music-body{
	background-image: none;
}
.music-main-body{
	/*position: relative;*/
	background: #f3f3f3;
	margin-top: -15px;
}
.songlist-content{
	position: relative;
	background-color:#f3f3f3;
	padding-top: 10px;
	text-align: left;
}
.songlist-nav{
	position: absolute;
	top:0px;
	_left:0px;
	width: 783px;
	border: 1px solid #ececec;
	padding: 12px 85px 12px 110px;
	font-size: 14px;
	color: #333333;
	background-color: #fefefe;
	overflow: hidden;
	filter:alpha(opacity=90);
	opacity:0.9;	
	z-index:8;
	zoom:1;
}
.nav-fixed{
	position: fixed;
	top: 0;
	/**left:0;*/
}
.bg-opacity{
/*	width: 100%;
	height: 100%;
	background-color: #FFF;
	filter:alpha(opacity=80);
	opacity:80;*/
}
.songlist-nav li{
	float: left;
	width: 70px;
}
.songlist-nav .nav-item:hover{
	border-radius: 4px;
	background-color: #e6e6e6;
	color: #666666;
}
.songlist-nav .nav-item{
	height: 24px;
	font-size: 14px;
	line-height: 24px;
	padding: 5px 10px;
	color: #333333;
	text-decoration: none;
	margin-bottom: 10px;
}
.songlist-nav ul{
	overflow: hidden;
}
.songlist-nav  .nav-more{
	margin-top: 10px;
	display: none;
}
.songlist-nav li .on{
	border-radius: 4px;
	color: #FFF;
	background-color: #3f95de;
}
.songlist-nav  .nav-on{
	position: absolute;
	left: 0;
	top: 1px;
	width: 90px;
	padding: 12px 0 0 25px;
	font-size: 21px;
	font-family:"Microsoft YaHei";
	color: #3f95de;
	font-weight: 600;
	white-space: nowrap;
	overflow: hidden;
}
.songlist-stream {
	
	margin-top: 60px;
	overflow: hidden;

}
.songlist-stream .content{
	overflow: hidden;
}
.songlist-stream .stream-item{
	float: left;
	position: relative;
	width: 230px;
	margin-right: 20px;
	_margin-right: 17px;
}
.songlist-stream .stream-last{
	margin-right: 0px;
}
#nav-more-link{
	position: absolute;
	right: 40px;
	text-decoration: none;
	color: #666;
	top: 13px;
}
#nav-fold{
	position: absolute;
	right: 25px;
	padding-right: 15px;
	background: url(/static/images/bg/fold-up.png) no-repeat 30px 6px;merge:bg;
	text-decoration: none;
	color: #666;
	top:47px;
}
.loading{
	height: 50px;
	width: 980px;
	display: none;
	background: url(/static/images/music/loading1.gif) no-repeat center 10px;
}
