/**
 * 适用于：注册、登录、激活
 **/
.account-popup-holder a {
	color: #2C76C0;
	text-decoration: none;
}

.account-popup-holder a:hover {
	text-decoration: underline;
}

.account-t1, 
.account-t2 {
	font-family: "微软雅黑";
	color: #000;
}

.account-t1 {
	line-height: 35px;
	font-size: 25px;
}

.account-t2 {
	line-height: 22px;
	font-size: 18px;
}

/**
 * 按钮
 **/
.pass_login_form .pass_login_input_submit,
.pass_reg_form .pass_reg_submit {
	height: 36px;
	border: 0;
	font-weight: bold;
	color: #FFF;
	background-repeat: no-repeat;
	cursor: pointer;
}
