.account-mask {
    position: absolute;
    z-index: 13010;
    left: 0;
    top: 0;
    background: #000;
}

.account-ts0 { opacity: 0; -moz-opacity: 0; filter: alpha(opacity=0); }
.account-ts1 { opacity: .1; -moz-opacity: .1; filter: alpha(opacity=10); }
.account-ts2 { opacity: .2; -moz-opacity: .2; filter: alpha(opacity=20); }
.account-ts3 { opacity: .3; -moz-opacity: .3; filter: alpha(opacity=30); }
.account-ts4 { opacity: .4; -moz-opacity: .4; filter: alpha(opacity=40); }

.account-popup-holder {
    display: none;
    position: absolute;
    z-index: 13011;
    border: 1px solid #D2D2D2;
    font-size: 12px;
    background-color: #FFF;
}

.account-ptitle {
    position: relative;
    padding-left: 23px;
    height: 41px;
    border-bottom: 1px solid #cfcfcf;
    color: #000;
    background: url("/static/images/bg/account-ptbg.png") repeat-x;
}

.account-ptitle-text {
    line-height: 40px;
    font-weight:bold;
    font-size: 14px;
}

.account-pclose {
    display: block;
    position: absolute;
    top: 13px;
    right: 13px;
    width: 13px;
    height: 13px;
    background: url("/static/images/bg/account-close.png") no-repeat;
}


.account-pbody-no-u {
    padding: 30px 0 30px 40px;
}


.account-pbody-no-u .pass_fillinusername_submit_input {
    width: 102px;
    height: 31px;
    padding: 0;
    vertical-align: middle;
    color: white;
    font-weight: bold;
    cursor: pointer;
    background: url(/static/images/bg/login_btn.png);
    border: 0;
}

.pass_fillinusername_suggestusernameli {
    line-height: 20px;
}

.pass_fillinusername_suggestuserlabel {
    margin-left: 10px
}

.pass_fillinusername_p_generalerror {
    color: red;
    margin-bottom: 5px;
}

.pass_fillinusername_p_info {
    margin-bottom: 10px;
}

.account-popup-holder-no-user {
    width: 660px;
}

.no-u-title-holder {
    margin-bottom: 10px;
}

.no-u-title-tip {
    color: #333;
    font-size: 14px;
    font-weight: bold;
}

.pass_fillinusername_des {
    margin: 10px 0;
    display: block;
    color: #686868;
}

.pass_fillinusername_err {
    margin-left: 10px;
    height: 21px;
    line-height: 18px;
    color: red;
}

.pass_fillinusername_p_username .pass_fillinusername_username_input {
    padding: 3px 3px 0 2px;
    width: 150px;
    height: 18px;
    border: 1px solid #CCC;
    background: url(/static/images/bg/login_input_bg.png) repeat-x;
}

