.page-container-holder {
    /*
	width: 985px;
	padding-left: 15px;
    */
}

.sign_holder {
	background: url(/static/images/bg/register_bg.jpg) no-repeat right center;
}

.from-pc {
	background: url(/static/images/bg/register_pc_bg.jpg) no-repeat right center;
}

.sign_main {
    position: relative;
	border: 1px solid #e6e6e6;
	width: 600px;
	padding: 35px 30px;
    overflow: hidden;
	background: #FFF;
}

.sign-info {
	height: 65px;
}

.sign-info-icon, .sign-info-des {
	float: left;
	height: 48px;
	overflow: hidden;
}
.sign-info-icon {width: 65px;}
.sign-info-des {width: 400px; }
.sign-info-des span{font-weight: bold; }

