
.music-body{
	position: relative;
	margin-top: -15px;	
	background: url(/static/images/music/layout-line.png) 300px 0 repeat-y #f8f8f8;
	/*border-bottom: 1px solid #e4e4e4;*/
}
.main-body-cont{
	
	overflow: hidden;
}
.left-cont{
	position: absolute;
	left: 0px;
	top:0px;
	width: 280px;
	padding: 28px 10px 0 10px;
	background-color: #f8f8f8;
}
.base-info{
	margin-top: 9px;
	line-height: 26px;
	color: #666;
}
.base-info a{
	color: #333;
	margin-right: 5px;

}
.base-info li{
	overflow: hidden;
}
.base-info .label{
	float: left;
	width: 50px;
	color: #999;

}
.song-page-share{
	margin-top: 3px;
}
.base-info .info-cont{
	float: left;
	/*margin-left: 50px;*/
	display: inline;
	width: 230px;
}
.song-page-share .share-label{
	float: left;
	color: #999;
}
.right-cont{
	padding-top: 28px;	
	width:664px;
	margin-left: 301px;
	background-color: #FFF;
	padding: 28px 5px 20px 15px;
}
.sonlist-info{
	padding-right: 6px;
}
.sonlist-name{
	position: relative;
    padding-right: 160px;
}
.sonlist-name h2{
	font-size: 23px;
	font-family:Microsoft YaHei,宋体;
	font-weight: 600;
	line-height: 34px;
	color: #333;
}
.sonlist-name .col-status{
	position: absolute;
	right: 5px;
	top: 5px;
	height: 20px;
	font-size: 16px;
	color: #333;
}
.sonlist-name .col-status .listen-num{
	position: relative;	
	padding-left: 22px;
	margin-right: 22px;
}
.sonlist-name .col-status .listen-num i {
	position: absolute;
	display: inline-block;
	width: 15px;
	height: 17px;
	left: 0;
	top: 0;
	background: url(/static/images/bg/listen-num.png) no-repeat 0 2px;
		merge:rich;
		_background: none;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='corp',src='/static/images/bg/listen-num.png');

}
.sonlist-name .col-status .collect-num{
	position: relative;
	padding-left: 24px;	
}
.sonlist-name .col-status .collect-num i {
	position: absolute;
	display: inline-block;
	width: 17px;
	height: 17px;
	left: 0;
	top: 0;
	background: url(/static/images/bg/collect-num.png) no-repeat 0 2px;
	merge:rich;
	_background: none;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='corp',src='/static/images/bg/collect-num.png');

}
.col-desc{
	line-height: 22px;
	color: #999;
	margin:10px 0 20px;
}
.col-btns{
	border:1px solid #e3e3e3;
	border-radius: 4px;
	background-color: #fafafa;
	text-align: center;
	height: 43px; 
	line-height: 43px;
	-webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.05);
	-moz-box-shadow: 1px 2px 3px rgba(0,0,0,.05);
	box-shadow: 1px 2px 3px rgba(0,0,0,.05);	
}
.col-btns li{
	float: left;
	height: 43px;
	line-height: 43px;
	border-left: 1px solid #e3e3e3;
}
.col-btns .col-play{
	width: 145px;
	border-left: none;
}
.col-btns .col-play .btn-icon{
	background:  url(/static/images/bg/col-play-icon.png) no-repeat;
		merge:rich;
		_background: none;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='corp',src='/static/images/bg/col-play-icon.png');		
}
.col-btns .col-add .btn-icon{
	background:  url(/static/images/bg/col-add-btn.png) no-repeat;
		merge:rich;
		_background: none;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='corp',src='/static/images/bg/col-add-btn.png');		
}
.col-btns .col-collect .btn-icon{
	background:  url(/static/images/bg/col-collect-btn.png) no-repeat;
		merge:rich;
		_background: none;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='corp',src='/static/images/bg/col-collect-btn.png');		
}
.col-btns .col-down .btn-icon{
	background:  url(/static/images/bg/col-down-btn.png) no-repeat;
		merge:rich;
		_background: none;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='corp',src='/static/images/bg/col-down-btn.png');		
}
.col-btns  .col-down .col-vip-icon {
	margin-left: 5px;
	top:8px;
	*top:5px;
	_top:-1px;
	background:  url(/static/images/bg/col-vip-btn.png) no-repeat;
		merge:rich;
		_background: none;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='corp',src='/static/images/bg/col-vip-btn.png');		
}
.col-btns .col-add{
	width: 188px;
}
.col-btns .col-collect{
	width: 148px;
}
.col-btns .col-down{
	width: 165px;
}
.col-btns li a{
	display:block;
	color: #666666;
	height: 23px;
	padding: 8px 0 12px 0;
	*padding: 10px 0 10px 0;
	line-height: 23px;

}
.col-btns li a:hover{
	text-decoration: none;
}
.col-btns li a span{
	/*margin-top: 12px;*/
	/*height: 20px;*/
	/*line-height: 20px;*/
}
.col-btns li a .btn-icon{
	display: inline-block;
	position: relative;
	top: 6px;
	*top:3px;
	width: 20px;
	height: 20px;
	margin-right: 5px;
}
.col-song-list{
	margin: 25px 0 20px 0;
	overflow: hidden;
}
.col-song-list .song-list ul li{
	padding: 7px 0 6px 0;
}
.col-song-list .song-list ul li a{
	color: #333333;
}

.col-song-list .mv-icon{
	display: none;
}
.ther-songlist{
	padding-right: 6px;
}
.other-cont h2{
	margin-bottom: 10px;
	font-size: 17px;
	font-family:Microsoft YaHei,宋体;
	font-weight: bold;
	line-height: 30px;
	color: #333;	
}
.other-cont .other-songlist{
	overflow: hidden;
	margin-bottom: 20px;
}
.other-cont .other-songlist li{
	float: left;
	width: 150px;
	margin-right: 19px;
}
.other-cont .other-songlist li a{
	color: #333;
}
.other-cont .other-songlist .last{
	margin-right: 0px;
}
.music-foot{
	margin-top: 0px;
}

.icon-play {background:url(/static/images/music/music-icon-play-songlist.png) no-repeat;merge:bg;}
.icon-add {background:url(/static/images/music/music-icon-add-songlist.png) no-repeat;merge:bg;}
.icon-collect {background:url(/static/images/music/music-icon-collect-songlist.png) no-repeat;merge:bg;}
.icon-download {background:url(/static/images/music/music-icon-down-songlist.png) no-repeat;merge:bg;}
