.base-info {
    color: #666;
    margin-bottom: 40px;
}
.film-img {
    float: left;
    margin-right: 20px;
    width: 113px;
    height: 150px;
    padding: 3px;
}
.base-info-cont {
    overflow: hidden;
}
.name {
    font-size: 14px;
    font-weight: bold;
    color: #333;
    line-height: 30px;
}
.no-film-pic .name {
    float: left;
    margin-right: 20px;
}
.no-film-pic .song-count {
    line-height: 30px;
}
.no-film-pic .opera {
    margin-top: 20px;
}
.opera {
    margin-top: 40px;
}
.share {
    float: right;
}
.share-label {
    float: left;
    line-height: 26px;
}

.sns .module .head {
    margin-bottom: 13px;
}
.mod-song-list .title {
    float: left;
    margin-right: 5px;
}
.song-item .hor-line {
    vertical-align: middle;
    margin: 0 5px;
}
.song-item .hot-info {
    left: 463px;
}
.song-item .index-num {
    font-size: 18px;
}
.song-list .pre-appendix {
    color: #999;
    font-size: 12px;
    margin: 0 5px 0 7px;
}
.song-list .top-btn {
    padding-bottom: 10px;
}
.song-list .btm-btn {
    padding-top: 10px;
}
.song-list ul li {
    padding: 12px 0;
}
.song-item .song-title a {
    font-weight: bold;
}

.page-index{float:left; position: relative;  top: 50%;margin: -4px 5px 0 0; overflow: hidden;zoom:1; text-indent: -99px; width: 7px;height: 7px; background:  url(/static/images/music/focus-page-index-bg.png) no-repeat; merge:rich;
    _background: none;
    _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='corp',src='/static/images/music/focus-page-index-bg.png');
    cursor: pointer;}
.page-active{ margin-top: -6px; width: 10px;height: 10px; background:  url(/static/images/music/focus-page-current-bg.png) no-repeat;
    merge:rich;
    _background: none;
    _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='corp',src='/static/images/music/focus-page-current-bg.png');
}
.page-index-last{ margin-right: 0;}
.recommend-mv .head .title{ float: left; margin-right: 15px;}
.mv-focus .left-btn,
.mv-focus .right-btn{ width:17px ; height:18px ; float: left;}
.mv-focus .left-btn{ background: url(/static/images/music/newalbum_left_btn.png) no-repeat;merge:bg;}
.mv-focus .left-btn:hover{  background: url(/static/images/music/newalbum_left_btn_hover.png) no-repeat;merge:bg;}
.mv-focus .right-btn{ background: url(/static/images/music/newalbum_right_btn.png) no-repeat;merge:bg;}
.mv-focus .right-btn:hover{ background: url(/static/images/music/newalbum_right_btn_hover.png) no-repeat;merge:bg;}
.mv-focus .mv-focus-page{ float: left; height: 18px; margin: 0 10px;}
.mv-focus .mv-focus-page a{ float: left;}

.main-body .recommend-mv {
    margin: 0;
}
.recommend-mv .body {
    position: relative;
    overflow: hidden;
    width: 100%;
}
.recommend-mv-cover{
    position: relative;
    width: 1000em;
}
.recommend-mv-cover ul{
    /*margin-right: -10px;*/
    float: left;
}
.recommend-mv-cover li {
    float: left;
    width: 170px;
    height: 126px;
    margin: 0 10px 12px 0;
    overflow: hidden;
    position: relative;
}
.recommend-mv-cover .song-item {
    padding-left: 7px;
}

.song-list .link-wrapper {
    width: 315px;
    overflow: hidden;
    white-space: nowrap;
}

.mod-topic li i {
    float: left;
    width: 2px;
    height: 2px;
    overflow: hidden;
    background: #999;
    margin: 9px 10px 0 0;
}
