
html {background:#fff; overflow:hidden;}
.logo-grey {position: relative;margin-top: -15px; float:right; }
.logo-grey a{ display: block; text-indent: -999px; overflow: hidden; width:100px; height:32px; background:url(/static/images/music/baidu-music_100x32.png) no-repeat;}
.download-info {padding:25px 30px 20px;}
.download-info .song, .download-info .rate {font-size:14px;}
.download-info .main-links, .download-info .other-links {font-size: 13px; margin-bottom: 10px;}
.download-info .song .label{ padding-top: 0;}
.download-info .label{width:50px;float:left; padding-top: 6px;}
.download-info .main-links .label, .download-info .other-links .label {width: 70px;}
.download-info .main-links ul, .download-info .other-links ul {float: left;}
.download-info .main-links li,
.download-info .other-links li{ padding-top: 6px;}

.download-info .song{padding:10px 0 15px;margin-bottom: 15px;}
.download-info .song .nocharge-icon{display: inline-block; margin-left:15px; border-left: 1px solid #f4f4f4; padding: 2px 15px; } /*add by zjh*/
.download-info .song .nocharge-icon i{display: inline-block; padding: 0 2px; background-color: #cc6766; color:#fff; font-size: 10px; } /*add by zjh*/

.download-info .rate form{ overflow: hidden; margin-right: 30px; position: relative;}  /*add by zjh*/
.download-info .rate{margin-bottom:10px;}
.download-info .rate ul{ overflow: hidden;zoom:1; color: #333;}
.download-info .rate li{padding:6px 10px;}
.download-info .rate .low-rate-box{ padding-left: 16px; }
.download-info .rate li label { margin-right: 15px; cursor: pointer;}
.download-info .rate li input{margin:0 15px 0 0;}
.download-info .rate li .cont{color: #333; } 
.download-info .rate li .excellent-icon{display:inline-block;width:16px;height:16px;margin:0 2px 0 -5px;background:url(/static/images/bg/down-excellent-icon.png); vertical-align: middle;}

.download-info .rate .data-link .label{ float: left;}
.download-info .rate .data-link .link{ word-wrap:break-word; overflow: hidden; zoom:1;}

.download-info .rate li.high-rate-box{ padding: 0; } /*add by zjh*/

/*框样式*/
.download-info .rate form.down-limit-box,.download-info .rate li.down-limit-box{ display:block; zoom:1; margin-bottom:10px; padding:5px; background: #f4f4f4; }

.download-info .rate .down-limit-ul{ border: 1px solid #e4e4e4; background: #fff; position: relative; }
.download-info .rate form.upper-limit-box{ background: #f9dcdb; }
.download-info .rate .upper-limit-ul{ border-color: #ecbdbc; }
.download-info .rate .down-power-tips{ position: absolute; top: 50%; right: 0; width:240px; height: 24px; margin-top:-12px;  padding:0 20px; border-left: 1px solid #e4e4e4; font-size: 12px; }
.download-info .rate .down-power-tips b{ font-family:"Microsoft YaHei";}
.download-info .rate .down-power-tips i{ display: inline-block; margin-left: 10px;}
.download-info .rate .down-power-tips .member-tips{ margin:2px -10px 0 0; }
.download-info .rate .down-power-tips .member-tips b{display:block; float:left; vertical-align:middle; background: url(/static/images/music/music-member-logo.png) no-repeat; padding-left:35px; font-size: 14px; }
.download-info .rate .down-power-tips .upper-limit-tips b{ font-size: 18px; color:#cc3432; }

.download-info .high-rate input{  background: #F7FCFF; }
.download-info .high-rate .new-icon{ color: #cc0000; font-size: 12px; }
.download-info .rate li.high-tips{padding-top: 15px; color: #cc0000;font-size: 12px;}
.download-info .high-tips a{ margin-left: 10px; }


.download-info #download {float:left; height:42px; padding:0 30px 0 65px; line-height:40px;  background:url(/static/images/btn/btn_down.png); merge:btn;color:#fff; font-size: 18px; font-family: "Microsoft YaHei";}
.download-info .btn-download-span{float:left;width:3px; height:42px;margin-right: 15px; background:url(/static/images/btn/btn_down.png) right 0;merge:btn; color:#fff; }
.download-info #download:hover{color:#fff; text-decoration:none;}

.download-info #get_gift a{ float:left; height: 42px; padding:0 19px; line-height: 40px; background: url(/static/images/btn/btn_gift.png); merge:btn; color:#fff; font-size:18px; font-family: "Microsoft Yahei"; }
.download-info #get_gift a i{ font-size:14px; color:#f0ff00; }
.download-info #get_gift .btn-gift-span{float:left; width: 4px; height: 42px; background:url(/static/images/btn/btn_gift.png) right 0; merge:btn; margin-right: 20px;}
.download-info #get_gift a:hover{ text-decoration: none; }

.download-info .listen-only{ display:inline-block; border: 1px dashed #f2b4b4; padding:12px 25px; color:#666; margin-top: 10px; }
.download-info .help { float: left; overflow: hidden;zoom:1; line-height:40px; }
/*.download-info .show-save-tip{ display:block; clear:both; line-height: 20px; margin-top: 10px;}*/
.download-info .show-pay-tip i b{ color:#c00; }
.tip-mask {position:absolute; top:0; left:0; width:4000px; height:4000px; background-color:#000; filter:Alpha(opacity=20); -moz-opacity:.2; opacity:0.2;}

.ad{  margin-top: 20px; padding-bottom: 0;}

.foreign-tip{ width: 450px; background: #eee;padding: 5px; position: absolute;
left: 50%;
top: 50%;
margin: -65px 0 0 -240px;}
.foreign-tip .content{height: 60px;padding:30px 20px;  background: #fff;}





.active{ position: absolute; width: 186px; height: 67px; right: 20px; top: 71px; cursor: pointer; }


/*支付框样式*/
.dialog-box .pay-fail-tip{ display: none; }
.dialog-box .body {
	color: #999;
	text-align: center;
}
.dialog-box .money-icon {
	display: block;
	width: 46px;
	height: 55px;
	margin: 0 auto 20px;
	background: url("/static/images/music/payment_dialog_money_icon.png") no-repeat;
}
.dialog-box .is-success {
	padding: 10px 0 40px;
	color: #c66;
	font-weight: bold;
	line-height: 26px;
	font-size: 26px;
	font-family: Microsoft YaHei;
}
.dialog-box .btns {
	padding-bottom: 50px;
}
.dialog-box .btns .pay-success-btn {
	margin-right: 20px;
}

.payment-result .title{ margin-bottom: 40px; text-align: center; color: #c66; font-weight: bold; font-size: 26px; line-height: 26px; font-family: Microsoft YaHei;}
.payment-result-from{ width: 550px; margin: 0 auto; padding: 10px 0; background: #F7F7F7; border: 1px dashed #D2D2D2;}
.payment-result-from li{ padding: 10px 0 10px 200px; font-size: 14px; text-align: left;}
.payment-result-from li .label{float: left; width:80px ; text-align: right; font-weight: bold;}
.payment-result .pay-again{margin: 20px 0; text-align: center;}