html {background:#fff; overflow:hidden;}
.download-wrapper {
    float: left;
    width: 500px;
    padding-top: 10px;
}
.logo-grey {position: relative;margin-top: -15px; float:right; }
.logo-grey a{ display: block; text-indent: -999px; overflow: hidden; width:100px; height:32px; background:url(/static/images/music/baidu-music_100x32.png) no-repeat;}
.download-info {padding:25px 30px 20px;}
.download-info .song .fwb {
    font-size: 22px;
    vertical-align: middle;
}
.download-info .author_list {
    vertical-align: middle;
}
.download-info .song, .download-info .rate {font-size:14px;}
.download-info .main-links, .download-info .other-links {font-size: 13px; margin-bottom: 10px;}
.download-info .song .label{ padding-top: 0;}
.download-info .label{
    width:50px;
    float:left;
    padding-top: 7px;
}
.download-info .main-links .label, .download-info .other-links .label {width: 70px;}
.download-info .main-links ul,
.download-info .other-links ul {
    overflow: hidden;
    word-break: break-all;
}
.download-info .main-links li,
.download-info .other-links li{ padding-top: 6px;}

.download-info .song{
    border-bottom: 1px solid #d7e9f5;
    padding:10px 0 15px;
    /*margin-bottom: 5px;*/
}

.download-info .rate{
    position: relative;
    margin-bottom:10px;
    overflow: hidden;
    /*padding-top: 10px;*/
    /*border-top: 1px solid #d7e9f5;*/
}
.download-info .rate .ul{
    overflow: hidden;
    zoom:1;
    margin-right: 30px;
    color: #333;
    /*border: 1px solid #d7e9f5;*/
}
.download-info .rate .li{
    padding: 10px 10px 10px 0;
    clear: both;
    /*overflow: hidden;*/
}
.download-info .rate label {
    margin-right: 15px;
    cursor: pointer;
    float: left;
    width: 280px;
}
.download-info .low-rate, .download-info .high-rate {
    position: relative;
    /*height: 100%;*/
}
.download-info .high-rate .rate-title {
    font-weight: bold;
}
.download-info .description {
    /*float: right;*/
    /*width: 200px;*/
    font-size: 12px;
    color: #666;
    /*position: absolute;*/
    /*right: 10px;*/
    float: left;
}
.download-info .is-three .description {
    /*top: 50%;*/
    /*margin-top: -10px;*/
}
.download-info .description a {
    display: inline-block;
    margin-left: 10px;
}
.download-info .description .power-icon-min {
    margin-right: 5px;
}
.download-info .rate .label {
    clear: both;
}
/*.download-info .rate .fwb {*/
    /*margin: 0 10px;*/
    /*display: inline-block;*/
/*}*/
.download-info .rate-title {
    display: inline-block;
    width: 90px;
    margin-left: 10px;
}
.download-info .hq,
.download-info .hq-plus {
    display: inline-block;
    height: 10px;
    margin-left: 5px;
}
.download-info .hq {
    width: 16px;
    background: url(/static/images/bg/song-hq.png) no-repeat;
    merge: blue;
}
.download-info .hq-plus {
    width: 18px;
    background: url(/static/images/bg/song-hq-plus.png) no-repeat;
    merge: yellow;
}
/*.download-info .rate li input{margin:0 15px 0 0;}*/
/*.download-info .rate li .cont{color: #333; } */
/*.download-info .rate li .excellent-icon{display:inline-block;width:16px;height:16px;margin:0 2px 0 -5px;background:url(/static/images/bg/down-excellent-icon.png); vertical-align: middle;}*/
/*.download-info .rate li .need-login{color:#999;}*/
/*.download-info .rate .data-link .label{ float: left;}*/
/*.download-info .rate .data-link .link{ word-wrap:break-word; overflow: hidden; zoom:1;}*/

.download-info .is-three .high-rate{
    /*background: #f0f8fd;*/
    /*border-top: 1px solid #e9f5fd;*/
}
/*.download-info .high-rate i.high-tip{ color:#c00;}*/
/*.download-info .high-rate input{  background: #F7FCFF; }*/
/*.download-info .high-rate .new-icon{ color: #cc0000; font-size: 12px; }*/
/*.download-info .rate li.high-tips{padding-top: 15px; color: #cc0000;font-size: 12px;}*/
/*.download-info .high-tips a{ margin-left: 10px; }*/

.operation{
    padding: 20px 0 0 50px;
    clear: both;
}
.download-info .btn-download .inner{
    /*padding: 0 30px;*/
    font-size: 14px;
}
.download-info .btn-download .icon {
    /*margin-right: 5px;*/
}
.download-info .down-ad-notcopy {
    position: relative;
    z-index: 100;
    padding: 0;
    margin-top: -31px;
    *margin-top: -26px;
    _margin-top: -6px;
}
.operation-notcopy {
    padding-left: 0;
}

.ad{  margin-top: 20px; padding-bottom: 0;}

.foreign-tip{ width: 450px; background: #eee;padding: 5px; position: absolute;
left: 50%;
top: 50%;
margin: -65px 0 0 -240px;}
.foreign-tip .content{height: 60px;padding:30px 20px;  background: #fff;}

.pop-bg{ display: none; width: 100%; height: 100%; top: 0;left: 0; position: absolute; z-index: 100; background: #000; opacity: 0.2;filter: Alpha(Opacity=20);}
.pop-setup{display: none; position: absolute; z-index: 101; top: 50%; left: 50%; margin: -180px 0 0 -310px; width: 620px; height: 360px; background: #fff;}
.high-setup{ width: 549px; height: 173px; margin: 0 auto; background: url(/static/images/music/download_high_setup.png) no-repeat;}
.down-app{  width: 400px;height: 47px; margin: 20px auto 10px;  background: url(/static/images/music/download_app.png) no-repeat;}
.down-app a{ float: left; width: 190px; height: 45px; margin-right: 15px; overflow: hidden; text-indent: -999px; }
.down-app a.ios{ margin-right: 0;}

.pop-setup .title{ margin-bottom: 20px; font-size: 14px; line-height: 48px; padding: 0 15px; background: #fcfcfc; border-bottom: 1px solid #f2f2f2;}
.pop-setup .title h2{ font-weight: bold;}
.pop-setup .title .close{  float: right; width: 16px; cursor: pointer; margin-top: 15px; height: 15px; background: url(/static/images/music/download_setup_close.png) no-repeat;}
.pop-setup .body{ text-align: center;}



.active{ position: absolute; width: 186px; height: 67px; right: 20px; top: 71px; cursor: pointer; }

.operation {
    /*float: left;  */
    font-family: "Microsoft YaHei";
}
.operation .btn {
    margin-right: 6px;
    display: none;
}
.operation .actived {
    display: inline-block;
}

.downpage-adbanner{ margin-top: 20px; }

.btn-f, .btn-c { font-size: 18px; color: #fff; }
.btn-g, .btn-g:hover { color: #999; }
.song-collect { display: none; }
.btn-extra-info { display: none; float: left; margin-left: 20px; line-height: 40px; }
div.btn-extra-info { color: #999; }

.vip-color { color: #cf3b3b; }
.vip-power { display: inline-block; padding-left: 22px; line-height: 15px; font-size: 12px; background: url(/static/images/btn/btn-icon-vip.png) no-repeat; merge: btn; }

.song-off {
	margin-bottom: 10px;
	padding: 7px;
	width: 73px;
	border: 1px dashed #666;
}

.extra-ad-link {
	margin-left: 10px;
}

.down-ad {
    /*float: right;*/
    padding-top: 10px;
    /*margin-right: -17px;*/
}
.down-rate-ad {
    padding: 10px 0 0 50px;
}

/*试用*/
.try-tip {
    padding: 10px 0 0 50px;
    color: #cc3333;
    float: left;
}
.try-tip .power-icon-min {
    margin: 0 5px;
}

.batchdown-dialog .body {
    width: 180px;
    margin: 0 auto;
    padding-top: 20px;
}

.batchdown-dialog .is-success {
    margin: 10px 0;
}

.batchdown-dialog .btn {
    margin: 0 12px 0 0;
}

.batchdown-dialog .vip-fail-btn {
    margin-right: 0;
}

#telDownloadBtn,
#pcDownloadBtn {
    /*margin-left: 5px;*/
    color: #333;
}
#telDownloadBtn .inner,
#pcDownloadBtn .inner {
    /*padding: 0 20px 0 0;*/
}
#telDownloadBtn .txt,
#pcDownloadBtn .txt{
    /*padding-left: 25px;*/
}
#pcDownloadBtn .loading {
    background-position: left;
}

.mobile-spread-wrapper {
    /*position: absolute;*/
    /*right: 40px;*/
    /*top: 92px;*/
    float: right;
    margin-top: 15px;
}
.mobile-spread {
    width: 150px;
    border: 1px solid #d7e9f5;
    padding: 15px 30px;
}
.mobile-spread .btn-j {
    width: 146px;
    margin: 5px 0;
}
.mobile-spread .btn-j .inner {
    float: none;
    display: block;
}
.mobile-spread .btn .icon {
    left: 20px;
}
.mobile-spread .btn .txt {
    padding-left: 30px;
}
.mobile-spread .inner {
    text-align: left;
}
