

.mod-star div.mod-body {background:none;}/*删除背景色*/
.mod-star .star-photo {display:block;margin:0 auto 8px;border:1px solid #FFF;}
.mod-star .star-name{float:left; font-weight:bold; font-size:14px; color:#333;line-height:30px;}
.mod-star .star-intro{color:#333;}

/*.mod-star .addAtt, 
.mod-star .addAtt2{ width:80px; height:24px; background:url(/static/images/btn/topic_add_att.png) no-repeat; merge:red;}*/
/*.mod-star .newAttbg{ height:24px;background:url(/static/images/bg/delAtt_topic.png) no-repeat; merge:bg;}*/

/*歌手列表模块*/
.mod-star-album .pic-list li {width:126px; height:190px;margin:0 37px 0 0;text-align:left; overflow:hidden;}
.mod-star-album .star-avatar {display:inline-block; }
.mod-star-album .singer-album-list .pic-title{text-align:center;}
.mod-star-album .star-avatar img{display:block;width:120px;height:120px;padding:2px;background-color:#FFF; border:1px solid #8f8f8f;}
.mod-star-album .page-list .item ul{margin-right:-120px;width:740px;}

