.music-body{ background: none;}
.path-list {margin-bottom:10px;}
.detail-wrapper {padding:230px 25px 25px; }
.detail-wrapper .detail-top .desc {margin-bottom:40px; width:50%;}
.mod-tdiy-block {margin-top:20px;}
.mod-tdiy-block .mod-block-title {padding-left:15px; height:38px; line-height:38px; border:1px solid #dbdbdb;background: url(/static/images/bg/mod_left_head_bg.x.png) repeat-x  #f8f8f8;}
.mod-tdiy-block .mod-block-title h3 {font-size:14px; color:#333; font-weight:bold;}
.mod-tdiy-block .right-link{float:right;margin-right:15px;}
.mod-tdiy-block .mod-block-body {padding:15px; background-color:#FFF; border:1px solid #DADADA; border-top:none;}

.song-list-block .btn-play-list {margin-bottom:10px;}
.song-list-block h4 {border:1px solid #E6E6E6; background-color:#F8F8F8; padding-left:13px; line-height:26px; color:#333; font-weight:bold;}
.song-list-block h4 a {font-weight:normal;}

.album-list-block .block-desc { padding-bottom:10px;}
.album-list-compact li {float:left; width:120px; padding:20px 27px;}
.album-list-compact .album-cover {margin-left:10px;}
.album-list-compact .album-name, .album-list-compact .album-author {display:block; text-align:center;}
.album-list-loose li {float:left; width:255px; padding:20px 8px 20px 29px;}
.album-list-loose .album-cover {float:left; margin-left:10px;}
.album-list-loose .album-name, .album-list-loose .album-author{display:block; margin-left:120px;}
.album-list-loose .album-desc {margin:25px 0 0 120px;}

.comment-block {float:left; width:620px;}

.other-diys-block {float:right; width:290px;}
.tdiy-list {margin:-20px 0;}
.tdiy-list li {padding:20px 0;}
.tdiy-list .tdiy-cover {float:left;}
.tdiy-list .tdiy-name, .tdiy-list .tdiy-desc {display:block; margin-left:105px;}
.detail-top{position:relative;}
.diyalbum-share{position:absolute;right:0;bottom:0;width:158px;height:27px;}
.diyalbum-share .share-labe{line-height:26px;color:#FFF;vertical-align:text-bottom; }












