html {
    font-family: 'Segoe UI Light', 'Segoe UI', 'Lucida Grande', Verdana;
}
header h1 {
    background: #e25940;
    color: #fff;
    margin: 0;
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    font-size: 22px;
}

nav a {
    float: left;
    margin: 10px 10px 10px 0;
    padding: 5px;
    background: #eee;
    color: #e25940;
    font-weight: bold;
    text-decoration: none;
}
nav .actived {
    color: #fff;
    background: #e25940;
}

article {
    clear: both;
}
#control-panel {
    border-spacing: 0;
}
thead th,
thead td {
    text-align: center;
}
#control-panel td {
    border-right: 1px solid #f5f5f5;
    border-bottom: 1px solid #f5f5f5;
}
article input[type="text"] {
    width: 21px;
    height: 21px;
    padding: 0;
    text-align: center;
    outline: none;
}
article input[type="radio"] {
    width: 15px;
    height: 15px;
    margin: 5px;
}
.empty {
    width: 25px;
    height: 25px;
}
#tbody td {
    width: 75px;
    padding: 5px;
}
#tbody td>* {
    float: left;
}
.td-img {
    text-align: center;
}
.td-img a {
    display: block;
    width: 100%;
}
.td-img img {
    max-width: 100px;
    float: none !important;
}
.td-img div {
    width: 100px;
    word-break: break-all;
    word-wrap: break-word;
    float: none !important;
    font-size: 12px;
    color: #666;
}
.td-padding {
    width: 100px;
}
.td-float {
    width: 100px;
}
.td-border {
    width: 100px;
}
.td-limit input {
    margin-left: 10px;
}

aside {
    position: fixed;
    top: 100px;
    right: 8px;
    width: 700px;
}
aside a {
    text-align: center;
    display: block;
    background: url(/static/images/sprite_bg.png);
}
aside img {
    max-width: 700px;
    max-height: 500px;
}
#tbody .td-input {
    padding: 10px;
    border: 1px dashed #e25940;;
}
#tbody .td-input input {
    float: none;
    vertical-align: middle;
}
.td-input input[type="text"] {
    width: 400px;
    text-align: left;
    padding: 0 5px;
    margin: 0 10px 0 17px;
    height: 25px;
    line-height: 25px;
}