


.video-list{ background:url(/static/images/bg/lightbox-ico-loading.gif) center center no-repeat;}
.page-list-video{margin:0 auto; padding-top:10px; margin-top:-8px; height:87px; overflow:hidden;}
.page-list-video .page-prev,
.page-list-video .page-next{ float:left; width:18px; height:79px; margin-top:8px;background:url(/static/images/bg/page_video_btn.png) no-repeat; merge:bg;}
.page-list-video .page-next{ float:right;}
.page-list-video .page-prev i,
.page-list-video .page-next i{display:block; width:0; height:0; margin:35px 0 0 5px; overflow:hidden;  border-style:dashed solid dashed none  ; border-width:6px 6px 6px 0 ;   border-color:transparent  #8b99a4 transparent   transparent;}
.page-list-video .page-next i{border-style: dashed none  dashed solid   ; border-width:6px 0  6px 6px ;
   border-color:transparent   transparent    transparent #8b99a4;}
.page-list-video .page-inner{ position:relative; float:left; width:568px; padding-top:8px; margin:0 8px; overflow:hidden; }
.page-list-video .page-inner ul{position:relative;left:0px;top:0px; width:2000px;}
.page-list-video .page-inner li{ position:relative; float:left; margin-right:8px;}
.page-list-video .video-index img{ float:left; width:99px; height:77px; border:1px solid #8b99a4;}
.page-list-video .video-index i{ visibility:hidden; position:absolute; top:-6px; left:50%; width:13px; height:7px; margin-left:-6px; background:url(/static/images/bg/page_video_cur.png) no-repeat; merge:bg;}
.page-list-video .on i{ visibility:visible;}
/***.page-list-video .on i,.page-list-video .page-index:hover i{ visibility:visible;}***/
.mod-video-right  .mod-list li{ margin-bottom:10px;}
.mod-video-right  .mod-list li .video-pic{ position:relative; width:100%;min-height:50px;}
.mod-video-right  .mod-list li img{ max-width:248px; max-height:200px; cursor:pointer;}
.mod-video-right .play-icon{ position:absolute; left:10px; bottom:10px; height:41px;width:41px; cursor:pointer;
/*	background:url(/static/images/album_play_large.png) no-repeat;
    _background:none;
    _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/static/images/album_play_large.png'); merge:rich;*/
}
.mod-video-right .play-icon:hover{background:url(/static/images/album_play_large_hover.png) no-repeat;
    /*_background:none;
    _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/static/images/album_play_large_hover.png');
	merge:rich;*/
}
