.user-center .music-body{ background: none;}

.page-title{ padding-bottom: 20px;}
.user-base-info{ padding-bottom: 20px; margin-bottom: 30px;}

.user-avatar{ display: inline; float:left; margin:0 15px 0 30px;}
.user-avatar img{ display: block; width: 55px; height: 55px; padding: 4px; border: 1px solid #e4e4e4;}
.user-info{ overflow: hidden;zoom:1;}
.user-info .user-name{ padding: 0 0 5px; font-size: 14px; font-weight: 700;}
.user-info .btn {
    margin: 5px 0;
}

.user-base-info .renewal-btn{ margin-left: 10px;}


.mypower-title{ margin-bottom: 20px;}



.mycloud .body{ padding: 30px 0 30px 30px;}
.mycloud .tips{ text-align: center;}

.space-size{ padding-bottom: 15px; line-height: 30px;}
.space-size .label{ float: left; font-size: 14px;}
.space-size .user-progress{float: left; width: 668px; margin: 0 15px;}
.exceeding{ line-height: 34px;}
.exceeding .tl{ float: left; width: 4px; height: 4px; _margin-right: -3px; overflow: hidden; background: url(/static/images/user/progress-tl.png) no-repeat;}
.exceeding .tr{ float: right; width: 4px; height: 4px; _margin-left: -3px; overflow: hidden; background: url(/static/images/user/progress-tr.png) no-repeat;}
.exceeding .tm{ margin: 0 4px; height: 4px; _margin: 0; overflow: hidden; background: url(/static/images/user/progress-tm.png) repeat-x;}

.exceeding .bl{ float: left; width: 4px;_margin-right: -3px; height: 4px;overflow: hidden; background: url(/static/images/user/progress-bl.png) no-repeat;}
.exceeding .br{ float: right; width: 4px; _margin-left: -3px;  height: 4px;overflow: hidden; background: url(/static/images/user/progress-br.png) no-repeat;}
.exceeding .bm{ margin: 0 4px; height: 4px;  _margin: 0; overflow: hidden; background: url(/static/images/user/progress-bm.png) repeat-x;}

.exceeding .progress-body{ padding-left: 4px; background: url(/static/images/user/progress-l.png) repeat-y;}
.exceeding .progress-content{ padding-right: 4px; background: url(/static/images/user/progress-r.png) right 0 repeat-y;}
.space-size .progress-bar{ position: relative;  height: 30px;  border: 1px solid #E4E4E4; width: 660px;}
.exceeding .progress-bar{  border: none;}
.space-size .progress-line{ position: absolute; z-index: 1; left: 0; top: 0;border-top: 1px solid #c2c2c2; width: 100%; height: 0;}
.space-size .progress{ position: absolute; z-index: 2; left: 0; top: 0; width: 100px; height: 29px; border-top: 1px solid #2691e3; background: #299de7; text-align: center; color: #fff; line-height: 21px;}
.space-size .progress-text{ float: left;padding-left: 20px;}
.space-size .progress-text em{ font-weight: bold;}
.space-size .start-time,
.space-size .end-time{float: left;}

.exceeding-tips{ font-size: 14px; color: #c33;}


.vip-wrap{ width: 780px; margin: 0 auto;}
.vip-wrap .tl{ float: left; width: 18px; height: 12px;overflow: hidden; background: url(/static/images/vip/vip_wrap_tl.png) no-repeat; merge:bg;}
.vip-wrap .tr{ float: right; width: 16px; height: 10px; overflow: hidden;background: url(/static/images/vip/vip_wrap_tr.png) no-repeat; merge:bg;}

.vip-wrap .x{  height: 2px; overflow: hidden; background: url(/static/images/vip/vip_wrap_x.png) repeat-x; merge:bg;}
.vip-wrap .tx{ margin: 0 16px 0 18px;}
.vip-wrap .bx{ margin: 5px 13px 0 21px;}
.vip-wrap .body{ background: url(/static/images/vip/vip_wrap_y.png) left 0 repeat-y;}
.vip-wrap .body .content{ background: url(/static/images/vip/vip_wrap_y.png) right 0 repeat-y;}
.vip-wrap .bl{ float: left; width: 21px; height: 7px;  margin-top: 2px; overflow: hidden; background: url(/static/images/vip/vip_wrap_bl.png)  no-repeat; merge:bg;}
.vip-wrap .br{ float: right; width: 13px; height: 7px; overflow: hidden; background: url(/static/images/vip/vip_wrap_br.png) no-repeat; merge:bg;}

/*权利列表*/
.mypower-list{ width: 660px; margin: 0 auto; padding-top: 30px; }
.mypower-list ul{margin-right: -45px;}
.mypower-list li{ float: left; margin:0 41px 0 0; padding-bottom: 20px; width: 100px; text-align: center;}
.mypower-list li a{ cursor: pointer;}

.mypower-list li .power-icon-max{ margin: 0 auto;}
.mypower-list li .power-name{padding-top: 10px;}

.mypower-list .tips{ font-size: 14px;padding: 0 0 30px;}
.mypower-list .opera{padding: 30px 0; text-align: center;}

.active-tips{padding:10px 0 0 110px ; clear: both; font-size: 14px;color: #c33;}

.active-tips strong{ margin-right: 10px;}