
.mod-album .mod-list .pic-list li{ margin:0 12px;}
.singer-album-list .pic-img img{ width:88px; height:88px;}


.music-wall { position:relative;}

.music-wall .covers { position:relative }
.music-wall .discriptions { position:absolute; top:0; left:0 }
.music-wall .covers { line-height:0; font-size:0; }
.music-wall .covers li { display:inline-block; *display:inline; zoom:1;}
.music-wall .cover { width:150px; height:150px; position:relative }
.music-wall .discription { 
	position:absolute;
   	padding:6px; width:288px; height:138px; background:#cb0004; color:#999; overflow:hidden; filter:Alpha(opacity=80); opacity:0.8; display:none;color:#fff; }
.music-wall .discription .title { font-weight:bold;  font-size:12px; color:#fff; } 

/*专辑带信息*/
.album-detailed-list ul li{ display:inline; float:left; width:274px; margin:0 18px 10px; }
.album-detailed-list .album-cover{ float:left; margin-right:10px;}
.album-detailed-list .album-info{ clear:both; padding-top:10px;}